### Rest Api hits on https://dummyapi.io/

In [1]:
import requests
from functools import reduce
import psycopg2
import pandas as pd
from sshtunnel import SSHTunnelForwarder
from nose.tools import assert_true,assert_is_none
#get full user data
#api_url = "https://dummyapi.io/data/v1/user/60d0fe4f5311236168a109ca"
api_preffix = "https://dummyapi.io/data/v1/"
api_id = "6243344d20e61633b2e46ba8"
api_url = "https://dummyapi.io/data/v1/user?page=1&limit=50"
# api_url = "https://dummyapi.io/data/v1/user/60d0fe4f5311236168a10a01"
response = requests.get(api_url,  headers={"app-id": api_id, "Content-Type":"text"})
response_json = response.json()
list(response_json.keys())

['data', 'total', 'page', 'limit']

In [2]:
print("response sample :")
print(response_json)

response sample :
{'data': [{'id': '60d0fe4f5311236168a109fd', 'title': 'mr', 'firstName': 'Dylan', 'lastName': 'Vasquez', 'picture': 'https://randomuser.me/api/portraits/med/men/66.jpg'}, {'id': '60d0fe4f5311236168a109fe', 'title': 'mr', 'firstName': 'AndrÃ©', 'lastName': 'Robert', 'picture': 'https://randomuser.me/api/portraits/med/men/9.jpg'}, {'id': '60d0fe4f5311236168a109ff', 'title': 'mrs', 'firstName': 'Josefina', 'lastName': 'Calvo', 'picture': 'https://randomuser.me/api/portraits/med/women/3.jpg'}, {'id': '60d0fe4f5311236168a10a00', 'title': 'mrs', 'firstName': 'Els', 'lastName': 'Ijsseldijk', 'picture': 'https://randomuser.me/api/portraits/med/women/75.jpg'}, {'id': '60d0fe4f5311236168a10a01', 'title': 'mr', 'firstName': 'Jesus', 'lastName': 'Riley', 'picture': 'https://randomuser.me/api/portraits/med/men/45.jpg'}, {'id': '60d0fe4f5311236168a10a02', 'title': 'mr', 'firstName': 'Cristobal', 'lastName': 'Soler', 'picture': 'https://randomuser.me/api/portraits/med/men/31.jpg'}, {'id': '60d0fe4f5311236168a10a03', 'title': 'mr', 'firstName': 'Andri', 'lastName': 'Leclerc', 'picture': 'https://randomuser.me/api/portraits/med/men/57.jpg'}, {'id': '60d0fe4f5311236168a10a04', 'title': 'mr', 'firstName': 'Konsta', 'lastName': 'Manninen', 'picture': 'https://randomuser.me/api/portraits/med/men/24.jpg'}, {'id': '60d0fe4f5311236168a10a05', 'title': 'ms', 'firstName': 'Ane', 'lastName': 'Frafjord', 'picture': 'https://randomuser.me/api/portraits/med/women/54.jpg'}, {'id': '60d0fe4f5311236168a10a06', 'title': 'mrs', 'firstName': 'OlaÃ\xad', 'lastName': 'Gomes', 'picture': 'https://randomuser.me/api/portraits/med/women/85.jpg'}, {'id': '60d0fe4f5311236168a10a07', 'title': 'mr', 'firstName': 'Sigmund', 'lastName': 'Myran', 'picture': 'https://randomuser.me/api/portraits/med/men/61.jpg'}, {'id': '60d0fe4f5311236168a10a08', 'title': 'ms', 'firstName': 'Lilja', 'lastName': 'Lampinen', 'picture': 'https://randomuser.me/api/portraits/med/women/50.jpg'}, {'id': '60d0fe4f5311236168a10a09', 'title': 'miss', 'firstName': 'Clea', 'lastName': 'Dubois', 'picture': 'https://randomuser.me/api/portraits/med/women/11.jpg'}, {'id': '60d0fe4f5311236168a10a0a', 'title': 'mr', 'firstName': 'Sandro', 'lastName': 'Guillot', 'picture': 'https://randomuser.me/api/portraits/med/men/8.jpg'}, {'id': '60d0fe4f5311236168a10a0b', 'title': 'miss', 'firstName': 'Margarita', 'lastName': 'Vicente', 'picture': 'https://randomuser.me/api/portraits/med/women/5.jpg'}, {'id': '60d0fe4f5311236168a10a0c', 'title': 'ms', 'firstName': 'Annabel', 'lastName': 'Somby', 'picture': 'https://randomuser.me/api/portraits/med/women/35.jpg'}, {'id': '60d0fe4f5311236168a10a0d', 'title': 'mr', 'firstName': 'Lyam', 'lastName': 'Morin', 'picture': 'https://randomuser.me/api/portraits/med/men/95.jpg'}, {'id': '60d0fe4f5311236168a10a0e', 'title': 'mr', 'firstName': 'Mads', 'lastName': 'Andersen', 'picture': 'https://randomuser.me/api/portraits/med/men/74.jpg'}, {'id': '60d0fe4f5311236168a10a0f', 'title': 'mr', 'firstName': 'Kaya', 'lastName': 'Basoglu', 'picture': 'https://randomuser.me/api/portraits/med/men/59.jpg'}, {'id': '60d0fe4f5311236168a10a10', 'title': 'mr', 'firstName': 'Nenad', 'lastName': 'Leroy', 'picture': 'https://randomuser.me/api/portraits/med/men/62.jpg'}, {'id': '60d0fe4f5311236168a10a11', 'title': 'miss', 'firstName': 'Angeles', 'lastName': 'Gimenez', 'picture': 'https://randomuser.me/api/portraits/med/women/56.jpg'}, {'id': '60d0fe4f5311236168a10a12', 'title': 'mr', 'firstName': 'Kenneth', 'lastName': 'Carter', 'picture': 'https://randomuser.me/api/portraits/med/men/40.jpg'}, {'id': '60d0fe4f5311236168a10a13', 'title': 'mr', 'firstName': 'Jan', 'lastName': 'Siebert', 'picture': 'https://randomuser.me/api/portraits/med/men/60.jpg'}, {'id': '60d0fe4f5311236168a10a14', 'title': 'mr', 'firstName': 'Cameron', 'lastName': 'Mendoza', 'picture': 'https://randomuser.me/api/portraits/med/men/95.jpg'}, {'id': '60d0fe4f5311236168a10a15', 'title': 'mr', 'firstName': 'Benjamin', 'lastName': 'Wilson', 'picture': 'https://randomuser.me/api/portraits/med/men/14.jpg'}, {'id': '60d0fe4f5311236168a10a16', 'title': 'mr', 'firstName': 'Sergio', 'lastName': 'Ferrer', 'picture': 'https://randomuser.me/api/portraits/med/men/29.jpg'}, {'id': '60d0fe4f5311236168a10a17', 'title': 'mrs', 'firstName': 'Emma', 'lastName': 'Jokela', 'picture': 'https://randomuser.me/api/portraits/med/women/46.jpg'}, {'id': '60d0fe4f5311236168a10a18', 'title': 'mr', 'firstName': 'Jeremy', 'lastName': 'Morin', 'picture': 'https://randomuser.me/api/portraits/med/men/60.jpg'}, {'id': '60d0fe4f5311236168a10a19', 'title': 'miss', 'firstName': 'Debbie', 'lastName': 'Garcia', 'picture': 'https://randomuser.me/api/portraits/med/women/86.jpg'}, {'id': '60d0fe4f5311236168a10a1a', 'title': 'mr', 'firstName': 'Vaino', 'lastName': 'Sakala', 'picture': 'https://randomuser.me/api/portraits/med/men/56.jpg'}, {'id': '60d0fe4f5311236168a10a1b', 'title': 'mr', 'firstName': 'Siem', 'lastName': 'Marcelissen', 'picture': 'https://randomuser.me/api/portraits/med/men/38.jpg'}, {'id': '60d0fe4f5311236168a10a1c', 'title': 'miss', 'firstName': 'Abigail', 'lastName': 'Liu', 'picture': 'https://randomuser.me/api/portraits/med/women/83.jpg'}, {'id': '60d0fe4f5311236168a10a1d', 'title': 'mr', 'firstName': 'Eckard', 'lastName': 'Degner', 'picture': 'https://randomuser.me/api/portraits/med/men/41.jpg'}, {'id': '60d0fe4f5311236168a10a1e', 'title': 'mr', 'firstName': 'Niklas', 'lastName': 'Baltzersen', 'picture': 'https://randomuser.me/api/portraits/med/men/2.jpg'}, {'id': '60d0fe4f5311236168a10a1f', 'title': 'mr', 'firstName': 'David', 'lastName': 'Ramos', 'picture': 'https://randomuser.me/api/portraits/med/men/30.jpg'}, {'id': '60d0fe4f5311236168a10a20', 'title': 'mr', 'firstName': 'Mem', 'lastName': 'Rocha', 'picture': 'https://randomuser.me/api/portraits/med/men/59.jpg'}, {'id': '60d0fe4f5311236168a10a21', 'title': 'miss', 'firstName': 'Constance', 'lastName': 'Bourgeois', 'picture': 'https://randomuser.me/api/portraits/med/women/87.jpg'}, {'id': '60d0fe4f5311236168a10a22', 'title': 'mr', 'firstName': 'Nikolaj', 'lastName': 'Larsen', 'picture': 'https://randomuser.me/api/portraits/med/men/22.jpg'}, {'id': '60d0fe4f5311236168a10a23', 'title': 'miss', 'firstName': 'Oya', 'lastName': 'Cetiner', 'picture': 'https://randomuser.me/api/portraits/med/women/66.jpg'}, {'id': '60d0fe4f5311236168a10a24', 'title': 'miss', 'firstName': 'Katie', 'lastName': 'Hughes', 'picture': 'https://randomuser.me/api/portraits/med/women/74.jpg'}, {'id': '60d0fe4f5311236168a10a25', 'title': 'ms', 'firstName': 'Kitty', 'lastName': 'Steward', 'picture': 'https://randomuser.me/api/portraits/med/women/78.jpg'}, {'id': '60d0fe4f5311236168a10a26', 'title': 'mr', 'firstName': 'Elliot', 'lastName': 'Walker', 'picture': 'https://randomuser.me/api/portraits/med/men/53.jpg'}, {'id': '60d0fe4f5311236168a10a27', 'title': 'mr', 'firstName': 'Tomothy', 'lastName': 'Hawkins', 'picture': 'https://randomuser.me/api/portraits/med/men/48.jpg'}, {'id': '60d0fe4f5311236168a10a28', 'title': 'miss', 'firstName': 'OcÃ©ane', 'lastName': 'Denis', 'picture': 'https://randomuser.me/api/portraits/med/women/51.jpg'}, {'id': '60d0fe4f5311236168a10a29', 'title': 'ms', 'firstName': 'Vanessa', 'lastName': 'Ramos', 'picture': 'https://randomuser.me/api/portraits/med/women/33.jpg'}, {'id': '60d0fe4f5311236168a10a2a', 'title': 'mrs', 'firstName': 'Susie', 'lastName': 'Harrison', 'picture': 'https://randomuser.me/api/portraits/med/women/20.jpg'}, {'id': '60d0fe4f5311236168a10a2b', 'title': 'mrs', 'firstName': 'Angelica', 'lastName': 'Roussel', 'picture': 'https://randomuser.me/api/portraits/med/women/53.jpg'}, {'id': '60d0fe4f5311236168a10a2c', 'title': 'mr', 'firstName': 'Toralf', 'lastName': 'Streicher', 'picture': 'https://randomuser.me/api/portraits/med/men/80.jpg'}, {'id': '60d0fe4f5311236168a10a2d', 'title': 'mrs', 'firstName': 'Emilie', 'lastName': 'Lambert', 'picture': 'https://randomuser.me/api/portraits/med/women/93.jpg'}], 'total': 99, 'page': 1, 'limit': 50}

In [3]:
# print(assert_true(response.ok))
# print(assert_is_none(response))

#### Retrieve all records over all pages

**retrieve the non-preview records across all page per data object (users, posts, comments))**

**ranges within RestAPI clause:**

**limit : [5-50]**

**pages : [0-999]**

In [4]:
def retreive_full_records(object_, api_preffix, api_id, page_upper_limit):
    #args: 
    # object_ : "user", "comment", "post"
    # api_preffix : https://dummyapi.io/data/v1/
    # api_id : 6243344d20e61633b2e46ba8
    # page_upper_limit : [0-999]
    records = []
    if object_ == "user":    
        location_dict = {}
        key_location = 0
        location_records = []    

    ### check of duplicated id using the frontier hash map
    id_frontier = {}

    def check_empty_response(response):    
        if "data" not in response.keys():
            return False    
        else:        
            if len(response["data"]) == 0:
                return False        
        return True

    def check_duplicated_ids (id_):
        nonlocal id_frontier
        try:
            if id_frontier[id_] == 1:
                return False
        except :        
            id_frontier[id_] = 1
        return True

    def get_detail_user_record (id_):
        ### get the full user information
        nonlocal api_preffix, object_, key_location
        if check_duplicated_ids(id_):        
            record = requests.get(api_preffix+object_+"/"+id_,  headers={"app-id":api_id, "Content-Type":"text"}).json()        
            print(record)
            if 'location' in record.keys():
                if len(record['location']) != 0:                
                    temp_location = record["location"]
                    info_concat = reduce(lambda a, b: a.strip() + b.strip(), list(record["location"].values()))
                    
                    if info_concat not in location_dict.keys():
                        location_dict[info_concat] = key_location
                        key_location += 1
                    record["location"] = key_location
                    temp_location["id"] = key_location
                    location_records.append(temp_location)
            return record
        return None

    def sanity_check_posts (record):   
        ### check for duplicated ids
        if not check_duplicated_ids(record['id']):
            return False    
        if "likes" not in record.keys():
            return False
        else:
            if record["likes"] < 0:
                return False
        if "owner" not in record.keys():
            return False
        else:
            if "id" not in record["owner"]:
                return False
            else:
                if record["owner"]["id"] == "":
                    return False
        return True

    def sanity_check_comments (record): 
        ### check for duplicated ids
        if not check_duplicated_ids(record['id']):
            return False    

        if "post" not in record.keys():
            return False
        else:
            if record["post"] == "":
                return False

        if "owner" not in record.keys():
            return False
        else:
            if "id" not in record["owner"]:
                return False
            else:
                if record["owner"]["id"] == "":
                    return False
        return True

    def fix_post_comment_records (record, page, check_post):
        if check_post:
            if sanity_check_posts(record):
                record["owner"] = record["owner"]["id"]
                record["page"]= page
                return record
        elif  sanity_check_comments(record):
            record["owner"] = record["owner"]["id"]
            record["page"]= page
            return record            
        return None

    for page in range(0,page_upper_limit):    
        api_url = api_preffix+object_+"?page="+str(page)+"&limit=50"
        response = requests.get(api_url,  headers={"app-id":api_id, "Content-Type":"text"})    
        assert_true(response.ok)
        response_json = response.json()    
        if check_empty_response(response_json):            
            #in case the object is user unnest the preview records, extract the location data
            if object_ == "user":             
                records += list(map(lambda x:  get_detail_user_record (x['id']), response_json["data"]))                
                #records += [get_detail_user_record (x['id']) for x in response_json["data"]]
                
            elif object_ == "post":
                records += list(map(lambda record : fix_post_comment_records(record, page, True), response_json["data"]))
                
                #records += [fix_post_comment_records(record, page, True) for record in response_json["data"]]
            elif object_ == "comment":
                records += list(map(lambda record : fix_post_comment_records(record, page, False), response_json["data"]))
                #records += [fix_post_comment_records(record, page, False) for record in response_json["data"]]
        else:
            print("Page number ",page)
            print(response_json)
        
    records = list(filter(lambda x:x is not None,records))        
    
    if object_ == "user":
        
        return pd.DataFrame(records), pd.DataFrame(location_records)
    
    elif object_ == "post":        
        pages = []
        look_up_posts_pages = {}
        for p in records:    
            key = p["id"]+str(p["page"])
            if key not in look_up_posts_pages:
                pages.append({'id':p["page"], "post_id":p["id"]})
                look_up_posts_pages [key] = 1
#             del p["page"]
        return pd.DataFrame(records), pd.DataFrame(pages)
        
    return pd.DataFrame(records)

_**Fetch user,location, post, comment records over a bunch of 999 pages.**_

_**In case you want the fetching to finish earlier reduce the page upper limit - no parralized implementation**_

In [5]:
print("Fetching Data....")
user, locations = retreive_full_records(object_ = "user", api_preffix = api_preffix, api_id = api_id, page_upper_limit = 21)
posts, pages = retreive_full_records(object_ = "post", api_preffix = api_preffix, api_id = api_id, page_upper_limit = 21)
comments = retreive_full_records(object_ = "comment", api_preffix = api_preffix, api_id = api_id, page_upper_limit = 21)

Fetching Data....
{'id': '60d0fe4f5311236168a109ca', 'title': 'ms', 'firstName': 'Sara', 'lastName': 'Andersen', 'picture': 'https://randomuser.me/api/portraits/women/58.jpg', 'gender': 'female', 'email': 'sara.andersen@example.com', 'dateOfBirth': '1996-04-30T19:26:49.610Z', 'phone': '92694011', 'location': {'street': '9614, SÃ¸ndermarksvej', 'city': 'Kongsvinger', 'state': 'Nordjylland', 'country': 'Denmark', 'timezone': '-9:00'}, 'registerDate': '2021-06-21T21:02:07.374Z', 'updatedDate': '2021-06-21T21:02:07.374Z'}
{'id': '60d0fe4f5311236168a109cb', 'title': 'miss', 'firstName': 'Edita', 'lastName': 'Vestering', 'picture': 'https://randomuser.me/api/portraits/med/women/89.jpg', 'gender': 'female', 'email': 'edita.vestering@example.com', 'dateOfBirth': '1956-04-15T00:10:35.555Z', 'phone': '(019)-646-0430', 'location': {'street': '1371, Dilledonk-Zuid', 'city': 'Den Bommel', 'state': 'Gelderland', 'country': 'Netherlands', 'timezone': '-5:00'}, 'registerDate': '2021-06-21T21:02:07.533Z', 'updatedDate': '2021-06-21T21:02:07.533Z'}
{'id': '60d0fe4f5311236168a109cc', 'title': 'ms', 'firstName': 'Adina', 'lastName': 'Barbosa', 'picture': 'https://randomuser.me/api/portraits/med/women/28.jpg', 'gender': 'female', 'email': 'edina.barbosa@example.com', 'dateOfBirth': '1952-09-03T13:27:29.424Z', 'phone': '(64) 5796-9260', 'location': {'street': '8750, Rua Carlos Gomes', 'city': 'Recife', 'state': 'CearÃ¡', 'country': 'Brazil', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:07.719Z', 'updatedDate': '2021-06-21T21:02:07.719Z'}
{'id': '60d0fe4f5311236168a109cd', 'title': 'mr', 'firstName': 'Roberto', 'lastName': 'Vega', 'picture': 'https://randomuser.me/api/portraits/med/men/25.jpg', 'gender': 'male', 'email': 'roberto.vega@example.com', 'dateOfBirth': '1945-11-17T06:31:57.367Z', 'phone': '949-368-211', 'location': {'street': '7675, Calle Mota', 'city': 'LogroÃ±o', 'state': 'Islas Baleares', 'country': 'Spain', 'timezone': '+6:00'}, 'registerDate': '2021-06-21T21:02:07.872Z', 'updatedDate': '2021-06-21T21:02:07.872Z'}
{'id': '60d0fe4f5311236168a109ce', 'title': 'mr', 'firstName': 'Rudi', 'lastName': 'Droste', 'picture': 'https://randomuser.me/api/portraits/med/men/83.jpg', 'gender': 'male', 'email': 'rudi.droste@example.com', 'dateOfBirth': '1972-08-07T22:16:47.420Z', 'phone': '0421-7342787', 'location': {'street': '1196, MÃ¼hlenweg', 'city': 'GrÃ¼nhain-Beierfeld', 'state': 'Sachsen-Anhalt', 'country': 'Germany', 'timezone': '+3:30'}, 'registerDate': '2021-06-21T21:02:08.029Z', 'updatedDate': '2021-06-21T21:02:08.029Z'}
{'id': '60d0fe4f5311236168a109cf', 'title': 'mrs', 'firstName': 'Carolina', 'lastName': 'Lima', 'picture': 'https://randomuser.me/api/portraits/med/women/5.jpg', 'gender': 'female', 'email': 'carolina.lima@example.com', 'dateOfBirth': '1994-03-04T03:04:53.673Z', 'phone': '(79) 9932-2522', 'location': {'street': '4162, Rua da Paz ', 'city': 'Boa Vista', 'state': 'Rio Grande do Norte', 'country': 'Brazil', 'timezone': '-4:00'}, 'registerDate': '2021-06-21T21:02:08.193Z', 'updatedDate': '2021-06-21T21:02:08.193Z'}
{'id': '60d0fe4f5311236168a109d0', 'title': 'mr', 'firstName': 'Emre', 'lastName': 'Asikoglu', 'picture': 'https://randomuser.me/api/portraits/med/men/23.jpg', 'gender': 'male', 'email': 'emre.asikoglu@example.com', 'dateOfBirth': '1964-12-08T16:34:53.710Z', 'phone': '(886)-854-5524', 'location': {'street': '3682, Fatih Sultan Mehmet Cd', 'city': 'KÃ¼tahya', 'state': 'Manisa', 'country': 'Turkey', 'timezone': '-9:00'}, 'registerDate': '2021-06-21T21:02:08.346Z', 'updatedDate': '2021-06-21T21:02:08.346Z'}
{'id': '60d0fe4f5311236168a109d1', 'title': 'mr', 'firstName': 'Kent', 'lastName': 'Brewer', 'picture': 'https://randomuser.me/api/portraits/med/men/52.jpg', 'gender': 'male', 'email': 'kent.brewer@example.com', 'dateOfBirth': '1955-07-19T00:57:14.606Z', 'phone': '021-351-5186', 'location': {'street': '4015, Station Road', 'city': 'Buncrana', 'state': 'Roscommon', 'country': 'Ireland', 'timezone': '+6:00'}, 'registerDate': '2021-06-21T21:02:08.506Z', 'updatedDate': '2021-06-21T21:02:08.506Z'}
{'id': '60d0fe4f5311236168a109d2', 'title': 'mr', 'firstName': 'Evan', 'lastName': 'Carlson', 'picture': 'https://randomuser.me/api/portraits/med/men/80.jpg', 'gender': 'male', 'email': 'evan.carlson@example.com', 'dateOfBirth': '1964-09-26T20:40:33.623Z', 'phone': '0118501 366 9206', 'location': {'street': '2944, Kings Road', 'city': 'Southampton', 'state': 'Devon', 'country': 'United Kingdom', 'timezone': '+3:00'}, 'registerDate': '2021-06-21T21:02:08.707Z', 'updatedDate': '2021-06-21T21:02:08.707Z'}
{'id': '60d0fe4f5311236168a109d3', 'title': 'mr', 'firstName': 'Friedrich-Karl', 'lastName': 'Brand', 'picture': 'https://randomuser.me/api/portraits/med/men/7.jpg', 'gender': 'male', 'email': 'friedrich-karl.brand@example.com', 'dateOfBirth': '1984-11-07T01:44:23.697Z', 'phone': '0982-2127379', 'location': {'street': '7297, Erlenweg', 'city': 'Naumburg', 'state': 'Sachsen', 'country': 'Germany', 'timezone': '-2:00'}, 'registerDate': '2021-06-21T21:02:08.861Z', 'updatedDate': '2021-06-21T21:02:08.861Z'}
{'id': '60d0fe4f5311236168a109d4', 'title': 'mr', 'firstName': 'Valentin', 'lastName': 'Ortega', 'picture': 'https://randomuser.me/api/portraits/med/men/3.jpg', 'gender': 'male', 'email': 'valentin.ortega@example.com', 'dateOfBirth': '1953-10-15T02:26:17.794Z', 'phone': '993-465-335', 'location': {'street': '2580, Calle de Ferraz', 'city': 'Albacete', 'state': 'Islas Baleares', 'country': 'Spain', 'timezone': '-3:30'}, 'registerDate': '2021-06-21T21:02:09.050Z', 'updatedDate': '2021-06-21T21:02:09.050Z'}
{'id': '60d0fe4f5311236168a109d5', 'title': 'mrs', 'firstName': 'Sibylle', 'lastName': 'Leibold', 'picture': 'https://randomuser.me/api/portraits/med/women/89.jpg', 'gender': 'female', 'email': 'sibylle.leibold@example.com', 'dateOfBirth': '1980-12-21T09:19:00.529Z', 'phone': '0221-3659630', 'location': {'street': '138, RosenstraÃŸe', 'city': 'Heimbach', 'state': 'Sachsen', 'country': 'Germany', 'timezone': '-6:00'}, 'registerDate': '2021-06-21T21:02:09.202Z', 'updatedDate': '2021-06-21T21:02:09.202Z'}
{'id': '60d0fe4f5311236168a109d6', 'title': 'mrs', 'firstName': 'Elisa', 'lastName': 'Lorenzo', 'picture': 'https://randomuser.me/api/portraits/med/women/89.jpg', 'gender': 'female', 'email': 'elisa.lorenzo@example.com', 'dateOfBirth': '1964-04-12T15:53:58.608Z', 'phone': '991-948-802', 'location': {'street': '9038, Avenida de Burgos', 'city': 'Granada', 'state': 'Cantabria', 'country': 'Spain', 'timezone': '-4:00'}, 'registerDate': '2021-06-21T21:02:09.357Z', 'updatedDate': '2021-06-21T21:02:09.357Z'}
{'id': '60d0fe4f5311236168a109d7', 'title': 'mr', 'firstName': 'Leevi', 'lastName': 'Savela', 'picture': 'https://randomuser.me/api/portraits/med/men/67.jpg', 'gender': 'male', 'email': 'leevi.savela@example.com', 'dateOfBirth': '1980-12-19T12:11:14.893Z', 'phone': '02-200-101', 'location': {'street': '4013, HÃ¤meentie', 'city': 'Malax', 'state': 'Southern Ostrobothnia', 'country': 'Finland', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:09.541Z', 'updatedDate': '2021-06-21T21:02:09.541Z'}
{'id': '60d0fe4f5311236168a109d8', 'title': 'mrs', 'firstName': 'Karoline', 'lastName': 'Sviggum', 'picture': 'https://randomuser.me/api/portraits/med/women/61.jpg', 'gender': 'female', 'email': 'karoline.sviggum@example.com', 'dateOfBirth': '1970-01-04T08:27:48.279Z', 'phone': '73332504', 'location': {'street': '4192, Finnhaugveien', 'city': 'SÃ¦tre', 'state': 'Finnmark - FinnmÃ¡rku', 'country': 'Norway', 'timezone': '0:00'}, 'registerDate': '2021-06-21T21:02:09.697Z', 'updatedDate': '2021-06-21T21:02:09.697Z'}
{'id': '60d0fe4f5311236168a109d9', 'title': 'ms', 'firstName': 'Nuria', 'lastName': 'Leon', 'picture': 'https://randomuser.me/api/portraits/med/women/93.jpg', 'gender': 'female', 'email': 'nuria.leon@example.com', 'dateOfBirth': '1972-07-12T20:39:35.212Z', 'phone': '944-895-312', 'location': {'street': '230, Calle de Ã\x81ngel GarcÃ\xada', 'city': 'Sevilla', 'state': 'Comunidad Valenciana', 'country': 'Spain', 'timezone': '+7:00'}, 'registerDate': '2021-06-21T21:02:09.870Z', 'updatedDate': '2021-06-21T21:02:09.870Z'}
{'id': '60d0fe4f5311236168a109da', 'title': 'mr', 'firstName': 'Lance', 'lastName': 'Foster', 'picture': 'https://randomuser.me/api/portraits/med/men/13.jpg', 'gender': 'male', 'email': 'lance.foster@example.com', 'dateOfBirth': '1971-08-29T22:05:26.775Z', 'phone': '0101 451 3221', 'location': {'street': '2334, Church Street', 'city': 'Chichester', 'state': 'Cornwall', 'country': 'United Kingdom', 'timezone': '-3:00'}, 'registerDate': '2021-06-21T21:02:10.075Z', 'updatedDate': '2021-06-21T21:02:10.075Z'}

{'id': '60d0fe4f5311236168a109db', 'title': 'miss', 'firstName': 'Naomi', 'lastName': 'Rodrigues', 'picture': 'https://randomuser.me/api/portraits/med/women/39.jpg', 'gender': 'female', 'email': 'naomi.rodrigues@example.com', 'dateOfBirth': '1973-06-13T23:33:31.385Z', 'phone': '(40) 6623-4814', 'location': {'street': '9134, Rua Castro Alves ', 'city': 'Garanhuns', 'state': 'Roraima', 'country': 'Brazil', 'timezone': '+9:00'}, 'registerDate': '2021-06-21T21:02:10.280Z', 'updatedDate': '2021-06-21T21:02:10.280Z'}
{'id': '60d0fe4f5311236168a109dc', 'title': 'mr', 'firstName': 'Evan', 'lastName': 'Roux', 'picture': 'https://randomuser.me/api/portraits/med/men/59.jpg', 'gender': 'male', 'email': 'evan.roux@example.com', 'dateOfBirth': '1988-06-25T04:31:51.701Z', 'phone': '02-28-80-43-91', 'location': {'street': '892, Grande Rue', 'city': 'BesanÃ§on', 'state': 'Seine-et-Marne', 'country': 'France', 'timezone': '+9:00'}, 'registerDate': '2021-06-21T21:02:10.491Z', 'updatedDate': '2021-06-21T21:02:10.491Z'}
{'id': '60d0fe4f5311236168a109dd', 'title': 'mr', 'firstName': 'Miguel', 'lastName': 'Lima', 'picture': 'https://randomuser.me/api/portraits/med/men/31.jpg', 'gender': 'male', 'email': 'miguel.lima@example.com', 'dateOfBirth': '1979-07-05T22:21:32.623Z', 'phone': '(33) 1399-0495', 'location': {'street': '9637, Rua Rio de Janeiro ', 'city': 'Cascavel', 'state': 'AmapÃ¡', 'country': 'Brazil', 'timezone': '+4:00'}, 'registerDate': '2021-06-21T21:02:10.647Z', 'updatedDate': '2021-06-21T21:02:10.647Z'}
{'id': '60d0fe4f5311236168a109de', 'title': 'miss', 'firstName': 'Bessie', 'lastName': 'Burke', 'picture': 'https://randomuser.me/api/portraits/med/women/72.jpg', 'gender': 'female', 'email': 'bessie.burke@example.com', 'dateOfBirth': '1953-07-29T09:05:23.955Z', 'phone': '01-4715-0408', 'location': {'street': '6507, Groveland Terrace', 'city': 'Sydney', 'state': 'New South Wales', 'country': 'Australia', 'timezone': '-2:00'}, 'registerDate': '2021-06-21T21:02:10.801Z', 'updatedDate': '2021-06-21T21:02:10.801Z'}
{'id': '60d0fe4f5311236168a109df', 'title': 'mrs', 'firstName': 'Anaelle', 'lastName': 'Dumas', 'picture': 'https://randomuser.me/api/portraits/med/women/25.jpg', 'gender': 'female', 'email': 'anaelle.dumas@example.com', 'dateOfBirth': '1982-05-31T19:23:30.931Z', 'phone': '01-01-80-11-67', 'location': {'street': '3970, Boulevard de la DuchÃ¨re', 'city': 'Pau', 'state': 'Moselle', 'country': 'France', 'timezone': '-9:00'}, 'registerDate': '2021-06-21T21:02:10.953Z', 'updatedDate': '2021-06-21T21:02:10.953Z'}
{'id': '60d0fe4f5311236168a109e0', 'title': 'miss', 'firstName': 'Milly', 'lastName': 'Norman', 'picture': 'https://randomuser.me/api/portraits/med/women/31.jpg', 'gender': 'female', 'email': 'milly.norman@example.com', 'dateOfBirth': '1975-08-25T06:11:36.092Z', 'phone': '60372975', 'location': {'street': '280, Nordsetergrenda', 'city': 'PrestegÃ¥rdshagen', 'state': 'Sogn og Fjordane', 'country': 'Norway', 'timezone': '-3:00'}, 'registerDate': '2021-06-21T21:02:11.106Z', 'updatedDate': '2021-06-21T21:02:11.106Z'}
{'id': '60d0fe4f5311236168a109e1', 'title': 'mr', 'firstName': 'James', 'lastName': 'Black', 'picture': 'https://randomuser.me/api/portraits/med/men/29.jpg', 'gender': 'male', 'email': 'james.black@example.com', 'dateOfBirth': '1965-08-18T22:58:36.318Z', 'phone': '09-9856-3784', 'location': {'street': '5147, Thornridge Cir', 'city': 'Bowral', 'state': 'Tasmania', 'country': 'Australia', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:11.263Z', 'updatedDate': '2021-06-21T21:02:11.263Z'}
{'id': '60d0fe4f5311236168a109e2', 'title': 'mr', 'firstName': 'Heinz-Georg', 'lastName': 'Fiedler', 'picture': 'https://randomuser.me/api/portraits/med/men/81.jpg', 'gender': 'male', 'email': 'heinz-georg.fiedler@example.com', 'dateOfBirth': '1974-03-12T21:15:08.878Z', 'phone': '0700-3090279', 'location': {'street': '4118, SchulstraÃŸe', 'city': 'Fellbach', 'state': 'Rheinland-Pfalz', 'country': 'Germany', 'timezone': '-7:00'}, 'registerDate': '2021-06-21T21:02:11.417Z', 'updatedDate': '2021-06-21T21:02:11.417Z'}
{'id': '60d0fe4f5311236168a109e3', 'title': 'mr', 'firstName': 'Vetle', 'lastName': 'Aasland', 'picture': 'https://randomuser.me/api/portraits/med/men/97.jpg', 'gender': 'male', 'email': 'vetle.aasland@example.com', 'dateOfBirth': '1949-09-09T06:22:16.422Z', 'phone': '81142945', 'location': {'street': '906, Risstubben', 'city': 'Kaland', 'state': 'Vest-Agder', 'country': 'Norway', 'timezone': '0:00'}, 'registerDate': '2021-06-21T21:02:11.609Z', 'updatedDate': '2021-06-21T21:02:11.609Z'}
{'id': '60d0fe4f5311236168a109e4', 'title': 'mr', 'firstName': 'Pwry', 'lastName': 'Shylyrd', 'picture': 'https://randomuser.me/api/portraits/med/men/37.jpg', 'gender': 'male', 'email': 'pwry.shylyrd@example.com', 'dateOfBirth': '1952-09-02T23:52:42.504Z', 'phone': '053-79829918', 'location': {'street': '324, Ù…ÛŒØ¯Ø§Ù† Ø´Ù‡ÛŒØ¯Ø§Ù† Ø±Ø\xadÛŒÙ…ÛŒ', 'city': 'Ù¾Ø§Ú©Ø¯Ø´Øª', 'state': 'Ø¢Ø°Ø±Ø¨Ø§ÛŒØ¬Ø§Ù† Ø´Ø±Ù‚ÛŒ', 'country': 'Iran', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:11.770Z', 'updatedDate': '2021-06-21T21:02:11.770Z'}
{'id': '60d0fe4f5311236168a109e5', 'title': 'mr', 'firstName': 'Adrian', 'lastName': 'Rodriguez', 'picture': 'https://randomuser.me/api/portraits/med/men/45.jpg', 'gender': 'male', 'email': 'adrian.rodriguez@example.com', 'dateOfBirth': '1955-10-22T02:54:44.217Z', 'phone': '08-3049-4902', 'location': {'street': '8062, Photinia Ave', 'city': 'Maitland', 'state': 'Victoria', 'country': 'Australia', 'timezone': '-9:00'}, 'registerDate': '2021-06-21T21:02:11.926Z', 'updatedDate': '2021-06-21T21:02:11.926Z'}
{'id': '60d0fe4f5311236168a109e6', 'title': 'miss', 'firstName': 'Milla', 'lastName': 'Pollari', 'picture': 'https://randomuser.me/api/portraits/med/women/89.jpg', 'gender': 'female', 'email': 'milla.pollari@example.com', 'dateOfBirth': '1993-03-07T15:42:40.183Z', 'phone': '09-276-350', 'location': {'street': '3914, Hermiankatu', 'city': 'Kannonkoski', 'state': 'Pirkanmaa', 'country': 'Finland', 'timezone': '+11:00'}, 'registerDate': '2021-06-21T21:02:12.110Z', 'updatedDate': '2021-06-21T21:02:12.110Z'}
{'id': '60d0fe4f5311236168a109e7', 'title': 'mr', 'firstName': 'Joey', 'lastName': 'Oliver', 'picture': 'https://randomuser.me/api/portraits/med/men/61.jpg', 'gender': 'male', 'email': 'joey.oliver@example.com', 'dateOfBirth': '1990-02-18T09:52:06.627Z', 'phone': '015242 92081', 'location': {'street': '965, St. Johnâ€™S Road', 'city': 'Liverpool', 'state': 'Fife', 'country': 'United Kingdom', 'timezone': '-11:00'}, 'registerDate': '2021-06-21T21:02:12.327Z', 'updatedDate': '2021-06-21T21:02:12.327Z'}
{'id': '60d0fe4f5311236168a109e8', 'title': 'mrs', 'firstName': 'Cecilie', 'lastName': 'Mortensen', 'picture': 'https://randomuser.me/api/portraits/med/women/56.jpg', 'gender': 'female', 'email': 'cecilie.mortensen@example.com', 'dateOfBirth': '1981-03-25T21:08:23.861Z', 'phone': '86479089', 'location': {'street': '2563, TranebÃ¦rvej', 'city': 'Sundby', 'state': 'Syddanmark', 'country': 'Denmark', 'timezone': '-8:00'}, 'registerDate': '2021-06-21T21:02:12.531Z', 'updatedDate': '2021-06-21T21:02:12.531Z'}
{'id': '60d0fe4f5311236168a109e9', 'title': 'mr', 'firstName': 'Alfredo', 'lastName': 'Omahony', 'picture': 'https://randomuser.me/api/portraits/med/men/76.jpg', 'gender': 'male', 'email': 'alfredo.omahony@example.com', 'dateOfBirth': '1986-08-30T10:34:23.714Z', 'phone': '071-658-1372', 'location': {'street': '3318, Dame Street', 'city': 'Portlaoise', 'state': 'Louth', 'country': 'Ireland', 'timezone': '-11:00'}, 'registerDate': '2021-06-21T21:02:12.737Z', 'updatedDate': '2021-06-21T21:02:12.737Z'}
{'id': '60d0fe4f5311236168a109ea', 'title': 'mrs', 'firstName': 'Mhrs', 'lastName': 'Hsyny', 'picture': 'https://randomuser.me/api/portraits/med/women/77.jpg', 'gender': 'female', 'email': 'mhrs.hsyny@example.com', 'dateOfBirth': '1959-11-05T08:33:26.306Z', 'phone': '022-88890337', 'location': {'street': '9007, Ø®Ø§ÙˆØ±Ø§Ù†', 'city': 'Ø¨Ø±ÙˆØ¬Ø±Ø¯', 'state': 'Ø¢Ø°Ø±Ø¨Ø§ÛŒØ¬Ø§Ù† Ø´Ø±Ù‚ÛŒ', 'country': 'Iran', 'timezone': '-3:30'}, 'registerDate': '2021-06-21T21:02:12.941Z', 'updatedDate': '2021-06-21T21:02:12.941Z'}
{'id': '60d0fe4f5311236168a109eb', 'title': 'ms', 'firstName': 'Nella', 'lastName': 'Koivisto', 'picture': 'https://randomuser.me/api/portraits/med/women/77.jpg', 'gender': 'female', 'email': 'nella.koivisto@example.com', 'dateOfBirth': '1993-06-22T23:43:36.117Z', 'phone': '08-493-479', 'location': {'street': '6774, Satakennankatu', 'city': 'Kuusamo', 'state': 'Northern Ostrobothnia', 'country': 'Finland', 'timezone': '-4:00'}, 'registerDate': '2021-06-21T21:02:13.122Z', 'updatedDate': '2021-06-21T21:02:13.122Z'}

{'id': '60d0fe4f5311236168a109ec', 'title': 'mr', 'firstName': 'Lucas', 'lastName': 'Larsen', 'picture': 'https://randomuser.me/api/portraits/med/men/50.jpg', 'gender': 'male', 'email': 'lucas.larsen@example.com', 'dateOfBirth': '1987-04-04T15:06:47.176Z', 'phone': '54946998', 'location': {'street': '4187, Nattergalevej', 'city': 'St.MerlÃ¸se', 'state': 'Syddanmark', 'country': 'Denmark', 'timezone': '-3:00'}, 'registerDate': '2021-06-21T21:02:13.276Z', 'updatedDate': '2021-06-21T21:02:13.276Z'}
{'id': '60d0fe4f5311236168a109ed', 'title': 'miss', 'firstName': 'Kayla', 'lastName': 'Bredesen', 'picture': 'https://randomuser.me/api/portraits/med/women/13.jpg', 'gender': 'female', 'email': 'kayla.bredesen@example.com', 'dateOfBirth': '1958-08-20T08:43:07.057Z', 'phone': '80844280', 'location': {'street': '5225, Hansemyrveien', 'city': 'Vingrom', 'state': 'Finnmark - FinnmÃ¡rku', 'country': 'Norway', 'timezone': '+11:00'}, 'registerDate': '2021-06-21T21:02:13.446Z', 'updatedDate': '2021-06-21T21:02:13.446Z'}
{'id': '60d0fe4f5311236168a109ee', 'title': 'mrs', 'firstName': 'Beatriz', 'lastName': 'Gutierrez', 'picture': 'https://randomuser.me/api/portraits/med/women/31.jpg', 'gender': 'female', 'email': 'beatriz.gutierrez@example.com', 'dateOfBirth': '1949-02-02T04:02:25.980Z', 'phone': '946-485-827', 'location': {'street': '7241, Calle de Arturo Soria', 'city': 'TorrejÃ³n de Ardoz', 'state': 'Comunidad de Madrid', 'country': 'Spain', 'timezone': '-3:00'}, 'registerDate': '2021-06-21T21:02:13.638Z', 'updatedDate': '2021-06-21T21:02:13.638Z'}
{'id': '60d0fe4f5311236168a109ef', 'title': 'miss', 'firstName': 'Melanie', 'lastName': 'Pilz', 'picture': 'https://randomuser.me/api/portraits/med/women/32.jpg', 'gender': 'female', 'email': 'melanie.pilz@example.com', 'dateOfBirth': '1951-01-26T06:05:28.427Z', 'phone': '0704-9599710', 'location': {'street': '3115, Am Bahnhof', 'city': 'AngermÃ¼nde', 'state': 'Bremen', 'country': 'Germany', 'timezone': '-10:00'}, 'registerDate': '2021-06-21T21:02:13.790Z', 'updatedDate': '2021-06-21T21:02:13.790Z'}
{'id': '60d0fe4f5311236168a109f0', 'title': 'mr', 'firstName': 'Wouter-Jan', 'lastName': 'Wijnker', 'picture': 'https://randomuser.me/api/portraits/med/men/67.jpg', 'gender': 'male', 'email': 'wouter-jan.wijnker@example.com', 'dateOfBirth': '1953-11-04T12:17:50.383Z', 'phone': '(825)-445-7283', 'location': {'street': '7503, Broenenbergweg', 'city': 'Graft', 'state': 'Limburg', 'country': 'Netherlands', 'timezone': '+11:00'}, 'registerDate': '2021-06-21T21:02:13.964Z', 'updatedDate': '2021-06-21T21:02:13.964Z'}
{'id': '60d0fe4f5311236168a109f2', 'title': 'mr', 'firstName': 'Albert', 'lastName': 'Diez', 'picture': 'https://randomuser.me/api/portraits/med/men/73.jpg', 'gender': 'male', 'email': 'albert.diez@example.com', 'dateOfBirth': '1962-12-01T18:15:19.055Z', 'phone': '940-877-554', 'location': {'street': '1866, Calle del Pez', 'city': 'Pozuelo de AlarcÃ³n', 'state': 'Melilla', 'country': 'Spain', 'timezone': '+4:00'}, 'registerDate': '2021-06-21T21:02:14.289Z', 'updatedDate': '2021-06-21T21:02:14.289Z'}
{'id': '60d0fe4f5311236168a109f3', 'title': 'mr', 'firstName': 'Donald', 'lastName': 'Hopkins', 'picture': 'https://randomuser.me/api/portraits/med/men/73.jpg', 'gender': 'male', 'email': 'donald.hopkins@example.com', 'dateOfBirth': '1976-10-02T17:55:48.463Z', 'phone': '01587 81675', 'location': {'street': '1134, The Drive', 'city': 'Exeter', 'state': 'Gloucestershire', 'country': 'United Kingdom', 'timezone': '-8:00'}, 'registerDate': '2021-06-21T21:02:14.440Z', 'updatedDate': '2021-06-21T21:02:14.440Z'}
{'id': '60d0fe4f5311236168a109f4', 'title': 'mr', 'firstName': 'Benjamin', 'lastName': 'Holland', 'picture': 'https://randomuser.me/api/portraits/med/men/58.jpg', 'gender': 'male', 'email': 'benjamin.holland@example.com', 'dateOfBirth': '1957-12-06T20:16:54.313Z', 'phone': '(185)-414-9013', 'location': {'street': '9785, Bruce St', 'city': 'Rancho Cucamonga', 'state': 'New Jersey', 'country': 'United States', 'timezone': '+3:00'}, 'registerDate': '2021-06-21T21:02:14.594Z', 'updatedDate': '2021-06-21T21:02:14.594Z'}
{'id': '60d0fe4f5311236168a109f5', 'title': 'ms', 'firstName': 'Charlotte', 'lastName': 'Legrand', 'picture': 'https://randomuser.me/api/portraits/med/women/77.jpg', 'gender': 'female', 'email': 'charlotte.legrand@example.com', 'dateOfBirth': '1965-04-16T01:07:53.814Z', 'phone': '04-76-29-33-42', 'location': {'street': '9613, Rue Dumenge', 'city': 'OrlÃ©ans', 'state': 'Loire', 'country': 'France', 'timezone': '-11:00'}, 'registerDate': '2021-06-21T21:02:14.787Z', 'updatedDate': '2021-06-21T21:02:14.787Z'}
{'id': '60d0fe4f5311236168a109f6', 'title': 'miss', 'firstName': 'Madison', 'lastName': 'Ambrose', 'picture': 'https://randomuser.me/api/portraits/med/women/15.jpg', 'gender': 'female', 'email': 'madison.ambrose@example.com', 'dateOfBirth': '1947-04-14T14:44:52.955Z', 'phone': '756-040-5467', 'location': {'street': '4122, Stanley Way', 'city': 'Cornwall', 'state': 'British Columbia', 'country': 'Canada', 'timezone': '+6:00'}, 'registerDate': '2021-06-21T21:02:14.988Z', 'updatedDate': '2021-06-21T21:02:14.988Z'}
{'id': '60d0fe4f5311236168a109f7', 'title': 'mrs', 'firstName': 'Jolanda', 'lastName': 'Lacroix', 'picture': 'https://randomuser.me/api/portraits/med/women/32.jpg', 'gender': 'female', 'email': 'jolanda.lacroix@example.com', 'dateOfBirth': '1979-11-25T21:56:06.020Z', 'phone': '077 774 36 67', 'location': {'street': '2881, Rue des Ecrivains', 'city': 'Valsot', 'state': 'Basel-Landschaft', 'country': 'Switzerland', 'timezone': '-10:00'}, 'registerDate': '2021-06-21T21:02:15.194Z', 'updatedDate': '2021-06-21T21:02:15.194Z'}
{'id': '60d0fe4f5311236168a109f8', 'title': 'ms', 'firstName': 'Signe', 'lastName': 'Madsen', 'picture': 'https://randomuser.me/api/portraits/med/women/84.jpg', 'gender': 'female', 'email': 'signe.madsen@example.com', 'dateOfBirth': '1976-12-29T06:23:56.452Z', 'phone': '08830603', 'location': {'street': '658, Ã…kandevej', 'city': 'Roslev', 'state': 'Hovedstaden', 'country': 'Denmark', 'timezone': '-12:00'}, 'registerDate': '2021-06-21T21:02:15.399Z', 'updatedDate': '2021-06-21T21:02:15.399Z'}
{'id': '60d0fe4f5311236168a109f9', 'title': 'mr', 'firstName': 'Marius', 'lastName': 'Larsen', 'picture': 'https://randomuser.me/api/portraits/med/men/54.jpg', 'gender': 'male', 'email': 'marius.larsen@example.com', 'dateOfBirth': '1978-02-13T03:05:10.004Z', 'phone': '47372721', 'location': {'street': '4476, FasanvÃ¦nget', 'city': 'Hammel', 'state': 'Midtjylland', 'country': 'Denmark', 'timezone': '0:00'}, 'registerDate': '2021-06-21T21:02:15.551Z', 'updatedDate': '2021-06-21T21:02:15.551Z'}
{'id': '60d0fe4f5311236168a109fa', 'title': 'ms', 'firstName': 'Ann', 'lastName': 'Mason', 'picture': 'https://randomuser.me/api/portraits/med/women/18.jpg', 'gender': 'female', 'email': 'ann.mason@example.com', 'dateOfBirth': '1959-09-26T07:05:56.725Z', 'phone': '(385)-245-2517', 'location': {'street': '2698, Paddock Way', 'city': 'Orange', 'state': 'Wyoming', 'country': 'United States', 'timezone': '+3:00'}, 'registerDate': '2021-06-21T21:02:15.705Z', 'updatedDate': '2021-06-21T21:02:15.705Z'}
{'id': '60d0fe4f5311236168a109fb', 'title': 'mr', 'firstName': 'Sohan', 'lastName': 'Pierre', 'picture': 'https://randomuser.me/api/portraits/med/men/77.jpg', 'gender': 'male', 'email': 'sohan.pierre@example.com', 'dateOfBirth': '1957-08-06T17:06:45.433Z', 'phone': '01-48-91-17-38', 'location': {'street': '8234, Avenue de la LibÃ©ration', 'city': 'NÃ®mes', 'state': 'Essonne', 'country': 'France', 'timezone': '+9:30'}, 'registerDate': '2021-06-21T21:02:15.860Z', 'updatedDate': '2021-06-21T21:02:15.860Z'}
{'id': '60d0fe4f5311236168a109fc', 'title': 'mr', 'firstName': 'Gonzaga', 'lastName': 'Ribeiro', 'picture': 'https://randomuser.me/api/portraits/med/men/10.jpg', 'gender': 'male', 'email': 'gonzaga.ribeiro@example.com', 'dateOfBirth': '1958-01-25T13:47:27.907Z', 'phone': '(74) 9172-2230', 'location': {'street': '7705, Rua Mato Grosso ', 'city': 'Juazeiro', 'state': 'Mato Grosso', 'country': 'Brazil', 'timezone': '-6:00'}, 'registerDate': '2021-06-21T21:02:16.014Z', 'updatedDate': '2021-06-21T21:02:16.014Z'}
{'id': '60d0fe4f5311236168a109fd', 'title': 'mr', 'firstName': 'Dylan', 'lastName': 'Vasquez', 'picture': 'https://randomuser.me/api/portraits/med/men/66.jpg', 'gender': 'male', 'email': 'dylan.vasquez@example.com', 'dateOfBirth': '1996-01-25T23:16:26.578Z', 'phone': '017684 69068', 'location': {'street': '218, The Crescent', 'city': 'Sunderland', 'state': 'Rutland', 'country': 'United Kingdom', 'timezone': '-1:00'}, 'registerDate': '2021-06-21T21:02:16.169Z', 'updatedDate': '2021-06-21T21:02:16.169Z'}

{'id': '60d0fe4f5311236168a109fe', 'title': 'mr', 'firstName': 'AndrÃ©', 'lastName': 'Robert', 'picture': 'https://randomuser.me/api/portraits/med/men/9.jpg', 'gender': 'male', 'email': 'andre.robert@example.com', 'dateOfBirth': '1960-04-08T15:04:24.730Z', 'phone': '077 689 97 19', 'location': {'street': '5684, Rue Denfert-Rochereau', 'city': 'Unterlangenegg', 'state': 'Fribourg', 'country': 'Switzerland', 'timezone': '-12:00'}, 'registerDate': '2021-06-21T21:02:16.329Z', 'updatedDate': '2021-06-21T21:02:16.329Z'}
{'id': '60d0fe4f5311236168a109ff', 'title': 'mrs', 'firstName': 'Josefina', 'lastName': 'Calvo', 'picture': 'https://randomuser.me/api/portraits/med/women/3.jpg', 'gender': 'female', 'email': 'josefina.calvo@example.com', 'dateOfBirth': '1982-01-27T16:01:51.717Z', 'phone': '976-538-478', 'location': {'street': '8941, Calle de Argumosa', 'city': 'Orihuela', 'state': 'Ceuta', 'country': 'Spain', 'timezone': '0:00'}, 'registerDate': '2021-06-21T21:02:16.491Z', 'updatedDate': '2021-06-21T21:02:16.491Z'}
{'id': '60d0fe4f5311236168a10a00', 'title': 'mrs', 'firstName': 'Els', 'lastName': 'Ijsseldijk', 'picture': 'https://randomuser.me/api/portraits/med/women/75.jpg', 'gender': 'female', 'email': 'els.ijsseldijk@example.com', 'dateOfBirth': '1954-02-24T09:58:32.344Z', 'phone': '(139)-150-5309', 'location': {'street': '5651, Gerardusweg', 'city': 'Allingawier', 'state': 'Gelderland', 'country': 'Netherlands', 'timezone': '-11:00'}, 'registerDate': '2021-06-21T21:02:16.646Z', 'updatedDate': '2021-06-21T21:02:16.646Z'}
{'id': '60d0fe4f5311236168a10a01', 'title': 'mr', 'firstName': 'Jesus', 'lastName': 'Riley', 'picture': 'https://randomuser.me/api/portraits/med/men/45.jpg', 'gender': 'male', 'email': 'jesus.riley@example.com', 'dateOfBirth': '1960-08-20T08:36:37.039Z', 'phone': '02-2018-4571', 'location': {'street': '6786, Pecan Acres Ln', 'city': 'Perth', 'state': 'New South Wales', 'country': 'Australia', 'timezone': '+4:30'}, 'registerDate': '2021-06-21T21:02:16.799Z', 'updatedDate': '2021-06-21T21:02:16.799Z'}
{'id': '60d0fe4f5311236168a10a02', 'title': 'mr', 'firstName': 'Cristobal', 'lastName': 'Soler', 'picture': 'https://randomuser.me/api/portraits/med/men/31.jpg', 'gender': 'male', 'email': 'cristobal.soler@example.com', 'dateOfBirth': '1955-09-26T20:47:34.962Z', 'phone': '961-521-661', 'location': {'street': '7308, Avenida de La Albufera', 'city': 'Guadalajara', 'state': 'Castilla la Mancha', 'country': 'Spain', 'timezone': '+5:30'}, 'registerDate': '2021-06-21T21:02:16.973Z', 'updatedDate': '2021-06-21T21:02:16.973Z'}
{'id': '60d0fe4f5311236168a10a03', 'title': 'mr', 'firstName': 'Andri', 'lastName': 'Leclerc', 'picture': 'https://randomuser.me/api/portraits/med/men/57.jpg', 'gender': 'male', 'email': 'andri.leclerc@example.com', 'dateOfBirth': '1946-05-09T02:52:44.348Z', 'phone': '077 142 26 73', 'location': {'street': '9730, Rue de la Mairie', 'city': 'Montherod', 'state': 'Ticino', 'country': 'Switzerland', 'timezone': '+5:45'}, 'registerDate': '2021-06-21T21:02:17.127Z', 'updatedDate': '2021-06-21T21:02:17.127Z'}
{'id': '60d0fe4f5311236168a10a04', 'title': 'mr', 'firstName': 'Konsta', 'lastName': 'Manninen', 'picture': 'https://randomuser.me/api/portraits/med/men/24.jpg', 'gender': 'male', 'email': 'konsta.manninen@example.com', 'dateOfBirth': '1978-01-30T04:14:10.139Z', 'phone': '03-163-724', 'location': {'street': '9823, HatanpÃ¤Ã¤n Valtatie', 'city': 'Lahti', 'state': 'Central Finland', 'country': 'Finland', 'timezone': '+3:00'}, 'registerDate': '2021-06-21T21:02:17.280Z', 'updatedDate': '2021-06-21T21:02:17.280Z'}
{'id': '60d0fe4f5311236168a10a05', 'title': 'ms', 'firstName': 'Ane', 'lastName': 'Frafjord', 'picture': 'https://randomuser.me/api/portraits/med/women/54.jpg', 'gender': 'female', 'email': 'ane.frafjord@example.com', 'dateOfBirth': '1948-04-21T03:34:24.570Z', 'phone': '64217714', 'location': {'street': '1734, Gaupefaret', 'city': 'FÃ¥berg', 'state': 'Akershus', 'country': 'Norway', 'timezone': '+4:00'}, 'registerDate': '2021-06-21T21:02:17.433Z', 'updatedDate': '2021-06-21T21:02:17.433Z'}
{'id': '60d0fe4f5311236168a10a06', 'title': 'mrs', 'firstName': 'OlaÃ\xad', 'lastName': 'Gomes', 'picture': 'https://randomuser.me/api/portraits/med/women/85.jpg', 'gender': 'female', 'email': 'olai.gomes@example.com', 'dateOfBirth': '1952-04-04T15:27:37.165Z', 'phone': '(54) 9138-1099', 'location': {'street': '5762, Rua Rio de Janeiro ', 'city': 'Novo Hamburgo', 'state': 'Roraima', 'country': 'Brazil', 'timezone': '+8:00'}, 'registerDate': '2021-06-21T21:02:17.603Z', 'updatedDate': '2021-06-21T21:02:17.603Z'}
{'id': '60d0fe4f5311236168a10a07', 'title': 'mr', 'firstName': 'Sigmund', 'lastName': 'Myran', 'picture': 'https://randomuser.me/api/portraits/med/men/61.jpg', 'gender': 'male', 'email': 'sigmund.myran@example.com', 'dateOfBirth': '1958-08-02T12:09:13.783Z', 'phone': '62171269', 'location': {'street': '297, Roseveien', 'city': 'LysÃ¸ysund', 'state': 'Description', 'country': 'Norway', 'timezone': '+11:00'}, 'registerDate': '2021-06-21T21:02:17.754Z', 'updatedDate': '2021-06-21T21:02:17.754Z'}
{'id': '60d0fe4f5311236168a10a08', 'title': 'ms', 'firstName': 'Lilja', 'lastName': 'Lampinen', 'picture': 'https://randomuser.me/api/portraits/med/women/50.jpg', 'gender': 'female', 'email': 'lilja.lampinen@example.com', 'dateOfBirth': '1960-02-03T04:00:09.804Z', 'phone': '06-259-069', 'location': {'street': '6147, Visiokatu', 'city': 'MÃ¤ntyharju', 'state': 'PÃ¤ijÃ¤t-HÃ¤me', 'country': 'Finland', 'timezone': '-11:00'}, 'registerDate': '2021-06-21T21:02:17.908Z', 'updatedDate': '2021-06-21T21:02:17.908Z'}
{'id': '60d0fe4f5311236168a10a09', 'title': 'miss', 'firstName': 'Clea', 'lastName': 'Dubois', 'picture': 'https://randomuser.me/api/portraits/med/women/11.jpg', 'gender': 'female', 'email': 'clea.dubois@example.com', 'dateOfBirth': '1976-12-19T09:54:30.283Z', 'phone': '05-07-68-29-63', 'location': {'street': '5348, Rue Barrier', 'city': 'Perpignan', 'state': 'Haut-Rhin', 'country': 'France', 'timezone': '-11:00'}, 'registerDate': '2021-06-21T21:02:18.060Z', 'updatedDate': '2021-06-21T21:02:18.060Z'}
{'id': '60d0fe4f5311236168a10a0a', 'title': 'mr', 'firstName': 'Sandro', 'lastName': 'Guillot', 'picture': 'https://randomuser.me/api/portraits/med/men/8.jpg', 'gender': 'male', 'email': 'sandro.guillot@example.com', 'dateOfBirth': '1986-12-26T18:10:43.423Z', 'phone': '01-81-76-32-65', 'location': {'street': '1800, Rue du Stade', 'city': 'Saint-Denis', 'state': 'SaÃ´ne-et-Loire', 'country': 'France', 'timezone': '-7:00'}, 'registerDate': '2021-06-21T21:02:18.226Z', 'updatedDate': '2021-06-21T21:02:18.226Z'}
{'id': '60d0fe4f5311236168a10a0b', 'title': 'miss', 'firstName': 'Margarita', 'lastName': 'Vicente', 'picture': 'https://randomuser.me/api/portraits/med/women/5.jpg', 'gender': 'female', 'email': 'margarita.vicente@example.com', 'dateOfBirth': '1950-07-20T11:47:20.779Z', 'phone': '902-482-251', 'location': {'street': '4944, Calle de Atocha', 'city': 'Las Palmas de Gran Canaria', 'state': 'AndalucÃ\xada', 'country': 'Spain', 'timezone': '-1:00'}, 'registerDate': '2021-06-21T21:02:18.378Z', 'updatedDate': '2021-06-21T21:02:18.378Z'}
{'id': '60d0fe4f5311236168a10a0c', 'title': 'ms', 'firstName': 'Annabel', 'lastName': 'Somby', 'picture': 'https://randomuser.me/api/portraits/med/women/35.jpg', 'gender': 'female', 'email': 'annabel.somby@example.com', 'dateOfBirth': '1987-05-09T23:35:30.223Z', 'phone': '57345952', 'location': {'street': '6585, Hofftunet', 'city': 'Ã…rnes', 'state': 'Finnmark - FinnmÃ¡rku', 'country': 'Norway', 'timezone': '-12:00'}, 'registerDate': '2021-06-21T21:02:18.531Z', 'updatedDate': '2021-06-21T21:02:18.531Z'}
{'id': '60d0fe4f5311236168a10a0d', 'title': 'mr', 'firstName': 'Lyam', 'lastName': 'Morin', 'picture': 'https://randomuser.me/api/portraits/med/men/95.jpg', 'gender': 'male', 'email': 'lyam.morin@example.com', 'dateOfBirth': '1951-08-29T16:00:33.182Z', 'phone': '04-77-88-76-90', 'location': {'street': '6902, Rue des Abbesses', 'city': 'Dijon', 'state': 'Savoie', 'country': 'France', 'timezone': '+7:00'}, 'registerDate': '2021-06-21T21:02:18.685Z', 'updatedDate': '2021-06-21T21:02:18.685Z'}
{'id': '60d0fe4f5311236168a10a0e', 'title': 'mr', 'firstName': 'Mads', 'lastName': 'Andersen', 'picture': 'https://randomuser.me/api/portraits/med/men/74.jpg', 'gender': 'male', 'email': 'mads.andersen@example.com', 'dateOfBirth': '1963-04-12T15:41:39.051Z', 'phone': '76120280', 'location': {'street': '6839, Lavendelvej', 'city': 'AgerbÃ¦k', 'state': 'SjÃ¦lland', 'country': 'Denmark', 'timezone': '0:00'}, 'registerDate': '2021-06-21T21:02:18.840Z', 'updatedDate': '2021-06-21T21:02:18.840Z'}

{'id': '60d0fe4f5311236168a10a0f', 'title': 'mr', 'firstName': 'Kaya', 'lastName': 'Basoglu', 'picture': 'https://randomuser.me/api/portraits/med/men/59.jpg', 'gender': 'male', 'email': 'kaya.basoglu@example.com', 'dateOfBirth': '1952-07-19T21:48:06.254Z', 'phone': '(686)-297-4736', 'location': {'street': '2574, Necatibey Cd', 'city': 'Amasya', 'state': 'BalÄ±kesir', 'country': 'Turkey', 'timezone': '+8:00'}, 'registerDate': '2021-06-21T21:02:18.992Z', 'updatedDate': '2021-06-21T21:02:18.992Z'}
{'id': '60d0fe4f5311236168a10a10', 'title': 'mr', 'firstName': 'Nenad', 'lastName': 'Leroy', 'picture': 'https://randomuser.me/api/portraits/med/men/62.jpg', 'gender': 'male', 'email': 'nenad.leroy@example.com', 'dateOfBirth': '1949-02-02T00:32:14.911Z', 'phone': '078 789 60 53', 'location': {'street': '6975, Rue AndrÃ©-Gide', 'city': 'Arni (Ag)', 'state': 'Basel-Landschaft', 'country': 'Switzerland', 'timezone': '-3:00'}, 'registerDate': '2021-06-21T21:02:19.188Z', 'updatedDate': '2021-06-21T21:02:19.188Z'}
{'id': '60d0fe4f5311236168a10a11', 'title': 'miss', 'firstName': 'Angeles', 'lastName': 'Gimenez', 'picture': 'https://randomuser.me/api/portraits/med/women/56.jpg', 'gender': 'female', 'email': 'angeles.gimenez@example.com', 'dateOfBirth': '1955-07-21T08:53:42.959Z', 'phone': '905-951-796', 'location': {'street': '6609, Avenida de AndalucÃ\xada', 'city': 'La CoruÃ±a', 'state': 'RegiÃ³n de Murcia', 'country': 'Spain', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:19.361Z', 'updatedDate': '2021-06-21T21:02:19.361Z'}
{'id': '60d0fe4f5311236168a10a12', 'title': 'mr', 'firstName': 'Kenneth', 'lastName': 'Carter', 'picture': 'https://randomuser.me/api/portraits/med/men/40.jpg', 'gender': 'male', 'email': 'kenneth.carter@example.com', 'dateOfBirth': '1978-08-22T03:16:13.371Z', 'phone': '09-5083-2974', 'location': {'street': '8485, Railroad St', 'city': 'Mildura', 'state': 'New South Wales', 'country': 'Australia', 'timezone': '-7:00'}, 'registerDate': '2021-06-21T21:02:19.538Z', 'updatedDate': '2021-06-21T21:02:19.538Z'}
{'id': '60d0fe4f5311236168a10a13', 'title': 'mr', 'firstName': 'Jan', 'lastName': 'Siebert', 'picture': 'https://randomuser.me/api/portraits/med/men/60.jpg', 'gender': 'male', 'email': 'jan.siebert@example.com', 'dateOfBirth': '1951-12-26T05:03:29.793Z', 'phone': '0687-8196730', 'location': {'street': '9650, Lerchenweg', 'city': 'Stadtsteinach', 'state': 'ThÃ¼ringen', 'country': 'Germany', 'timezone': '+8:00'}, 'registerDate': '2021-06-21T21:02:19.690Z', 'updatedDate': '2021-06-21T21:02:19.690Z'}
{'id': '60d0fe4f5311236168a10a14', 'title': 'mr', 'firstName': 'Cameron', 'lastName': 'Mendoza', 'picture': 'https://randomuser.me/api/portraits/med/men/95.jpg', 'gender': 'male', 'email': 'cameron.mendoza@example.com', 'dateOfBirth': '1973-05-27T00:15:32.360Z', 'phone': '019467 44267', 'location': {'street': '9677, Queen Street', 'city': 'Carlisle', 'state': 'Leicestershire', 'country': 'United Kingdom', 'timezone': '0:00'}, 'registerDate': '2021-06-21T21:02:19.879Z', 'updatedDate': '2021-06-21T21:02:19.879Z'}
{'id': '60d0fe4f5311236168a10a15', 'title': 'mr', 'firstName': 'Benjamin', 'lastName': 'Wilson', 'picture': 'https://randomuser.me/api/portraits/med/men/14.jpg', 'gender': 'male', 'email': 'benjamin.wilson@example.com', 'dateOfBirth': '1953-08-22T17:50:33.523Z', 'phone': '041-006-6231', 'location': {'street': '724, Concession Road 23', 'city': 'Sherbrooke', 'state': 'British Columbia', 'country': 'Canada', 'timezone': '+4:00'}, 'registerDate': '2021-06-21T21:02:20.033Z', 'updatedDate': '2021-06-21T21:02:20.033Z'}
{'id': '60d0fe4f5311236168a10a16', 'title': 'mr', 'firstName': 'Sergio', 'lastName': 'Ferrer', 'picture': 'https://randomuser.me/api/portraits/med/men/29.jpg', 'gender': 'male', 'email': 'sergio.ferrer@example.com', 'dateOfBirth': '1985-09-17T22:59:35.235Z', 'phone': '976-849-240', 'location': {'street': '5497, Calle de AlcalÃ¡', 'city': 'Elche', 'state': 'CataluÃ±a', 'country': 'Spain', 'timezone': '-6:00'}, 'registerDate': '2021-06-21T21:02:20.208Z', 'updatedDate': '2021-06-21T21:02:20.208Z'}
{'id': '60d0fe4f5311236168a10a17', 'title': 'mrs', 'firstName': 'Emma', 'lastName': 'Jokela', 'picture': 'https://randomuser.me/api/portraits/med/women/46.jpg', 'gender': 'female', 'email': 'emma.jokela@example.com', 'dateOfBirth': '1960-12-02T14:04:02.756Z', 'phone': '09-865-295', 'location': {'street': '3239, Pispalan Valtatie', 'city': 'PetÃ¤jÃ¤vesi', 'state': 'Central Finland', 'country': 'Finland', 'timezone': '-4:00'}, 'registerDate': '2021-06-21T21:02:20.365Z', 'updatedDate': '2021-06-21T21:02:20.365Z'}
{'id': '60d0fe4f5311236168a10a18', 'title': 'mr', 'firstName': 'Jeremy', 'lastName': 'Morin', 'picture': 'https://randomuser.me/api/portraits/med/men/60.jpg', 'gender': 'male', 'email': 'jeremy.morin@example.com', 'dateOfBirth': '1951-02-21T09:25:59.841Z', 'phone': '081-702-1111', 'location': {'street': '1693, Argyle St', 'city': 'Flatrock', 'state': 'Alberta', 'country': 'Canada', 'timezone': '-4:00'}, 'registerDate': '2021-06-21T21:02:20.521Z', 'updatedDate': '2021-06-21T21:02:20.521Z'}
{'id': '60d0fe4f5311236168a10a19', 'title': 'miss', 'firstName': 'Debbie', 'lastName': 'Garcia', 'picture': 'https://randomuser.me/api/portraits/med/women/86.jpg', 'gender': 'female', 'email': 'debbie.garcia@example.com', 'dateOfBirth': '1985-11-11T02:47:47.529Z', 'phone': '01733 87500', 'location': {'street': '6424, Grange Road', 'city': 'Sunderland', 'state': 'County Down', 'country': 'United Kingdom', 'timezone': '-12:00'}, 'registerDate': '2021-06-21T21:02:20.682Z', 'updatedDate': '2021-06-21T21:02:20.682Z'}
{'id': '60d0fe4f5311236168a10a1a', 'title': 'mr', 'firstName': 'Vaino', 'lastName': 'Sakala', 'picture': 'https://randomuser.me/api/portraits/med/men/56.jpg', 'gender': 'male', 'email': 'vaino.sakala@example.com', 'dateOfBirth': '1971-12-13T04:36:46.004Z', 'phone': '02-252-240', 'location': {'street': '6597, Myllypuronkatu', 'city': 'Suonenjoki', 'state': 'Tavastia Proper', 'country': 'Finland', 'timezone': '-6:00'}, 'registerDate': '2021-06-21T21:02:20.838Z', 'updatedDate': '2021-06-21T21:02:20.838Z'}
{'id': '60d0fe4f5311236168a10a1b', 'title': 'mr', 'firstName': 'Siem', 'lastName': 'Marcelissen', 'picture': 'https://randomuser.me/api/portraits/med/men/38.jpg', 'gender': 'male', 'email': 'siem.marcelissen@example.com', 'dateOfBirth': '1967-11-02T21:43:03.686Z', 'phone': '(487)-177-5028', 'location': {'street': '5450, Kemermanweg', 'city': 'Zeeland', 'state': 'Zuid-Holland', 'country': 'Netherlands', 'timezone': '+5:00'}, 'registerDate': '2021-06-21T21:02:21.030Z', 'updatedDate': '2021-06-21T21:02:21.030Z'}
{'id': '60d0fe4f5311236168a10a1c', 'title': 'miss', 'firstName': 'Abigail', 'lastName': 'Liu', 'picture': 'https://randomuser.me/api/portraits/med/women/83.jpg', 'gender': 'female', 'email': 'abigail.liu@example.com', 'dateOfBirth': '1973-08-20T23:32:33.104Z', 'phone': '200-877-5652', 'location': {'street': '6721, George St', 'city': 'Jasper', 'state': 'Newfoundland and Labrador', 'country': 'Canada', 'timezone': '+5:30'}, 'registerDate': '2021-06-21T21:02:21.235Z', 'updatedDate': '2021-06-21T21:02:21.235Z'}
{'id': '60d0fe4f5311236168a10a1d', 'title': 'mr', 'firstName': 'Eckard', 'lastName': 'Degner', 'picture': 'https://randomuser.me/api/portraits/med/men/41.jpg', 'gender': 'male', 'email': 'eckard.degner@example.com', 'dateOfBirth': '1987-10-23T23:15:10.463Z', 'phone': '0104-8643049', 'location': {'street': '1305, BlumenstraÃŸe', 'city': 'Stolpen', 'state': 'Bremen', 'country': 'Germany', 'timezone': '+9:30'}, 'registerDate': '2021-06-21T21:02:21.443Z', 'updatedDate': '2021-06-21T21:02:21.443Z'}
{'id': '60d0fe4f5311236168a10a1e', 'title': 'mr', 'firstName': 'Niklas', 'lastName': 'Baltzersen', 'picture': 'https://randomuser.me/api/portraits/med/men/2.jpg', 'gender': 'male', 'email': 'niklas.baltzersen@example.com', 'dateOfBirth': '1995-01-25T06:20:13.984Z', 'phone': '32509586', 'location': {'street': '4651, EnsjÃ¸svingen', 'city': 'Siljan', 'state': 'Finnmark - FinnmÃ¡rku', 'country': 'Norway', 'timezone': '+11:00'}, 'registerDate': '2021-06-21T21:02:21.645Z', 'updatedDate': '2021-06-21T21:02:21.645Z'}
{'id': '60d0fe4f5311236168a10a1f', 'title': 'mr', 'firstName': 'David', 'lastName': 'Ramos', 'picture': 'https://randomuser.me/api/portraits/med/men/30.jpg', 'gender': 'male', 'email': 'david.ramos@example.com', 'dateOfBirth': '1961-05-07T17:25:55.858Z', 'phone': '901-163-859', 'location': {'street': '9105, Avenida de Burgos', 'city': 'Orense', 'state': 'Comunidad Valenciana', 'country': 'Spain', 'timezone': '-6:00'}, 'registerDate': '2021-06-21T21:02:21.815Z', 'updatedDate': '2021-06-21T21:02:21.815Z'}

{'id': '60d0fe4f5311236168a10a20', 'title': 'mr', 'firstName': 'Mem', 'lastName': 'Rocha', 'picture': 'https://randomuser.me/api/portraits/med/men/59.jpg', 'gender': 'male', 'email': 'mem.rocha@example.com', 'dateOfBirth': '1979-08-19T23:33:38.789Z', 'phone': '(30) 6850-0569', 'location': {'street': '6830, Rua Tiradentes ', 'city': 'Itabira', 'state': 'RondÃ´nia', 'country': 'Brazil', 'timezone': '-4:00'}, 'registerDate': '2021-06-21T21:02:21.999Z', 'updatedDate': '2021-06-21T21:02:21.999Z'}
{'id': '60d0fe4f5311236168a10a21', 'title': 'miss', 'firstName': 'Constance', 'lastName': 'Bourgeois', 'picture': 'https://randomuser.me/api/portraits/med/women/87.jpg', 'gender': 'female', 'email': 'constance.bourgeois@example.com', 'dateOfBirth': '1947-02-07T16:51:11.191Z', 'phone': '01-55-52-34-71', 'location': {'street': '5135, Boulevard de la DuchÃ¨re', 'city': 'CrÃ©teil', 'state': 'Haut-Rhin', 'country': 'France', 'timezone': '-3:00'}, 'registerDate': '2021-06-21T21:02:22.157Z', 'updatedDate': '2021-06-21T21:02:22.157Z'}
{'id': '60d0fe4f5311236168a10a22', 'title': 'mr', 'firstName': 'Nikolaj', 'lastName': 'Larsen', 'picture': 'https://randomuser.me/api/portraits/med/men/22.jpg', 'gender': 'male', 'email': 'nikolaj.larsen@example.com', 'dateOfBirth': '1953-04-24T23:26:21.429Z', 'phone': '39615891', 'location': {'street': '6273, SÃ¸parken', 'city': 'Randers Nv', 'state': 'Midtjylland', 'country': 'Denmark', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:22.347Z', 'updatedDate': '2021-06-21T21:02:22.347Z'}
{'id': '60d0fe4f5311236168a10a23', 'title': 'miss', 'firstName': 'Oya', 'lastName': 'Cetiner', 'picture': 'https://randomuser.me/api/portraits/med/women/66.jpg', 'gender': 'female', 'email': 'oya.cetiner@example.com', 'dateOfBirth': '1970-08-15T16:34:09.075Z', 'phone': '(557)-895-3795', 'location': {'street': '985, Kushimoto Sk', 'city': 'Burdur', 'state': 'MuÅŸ', 'country': 'Turkey', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:22.510Z', 'updatedDate': '2021-06-21T21:02:22.510Z'}
{'id': '60d0fe4f5311236168a10a24', 'title': 'miss', 'firstName': 'Katie', 'lastName': 'Hughes', 'picture': 'https://randomuser.me/api/portraits/med/women/74.jpg', 'gender': 'female', 'email': 'katie.hughes@example.com', 'dateOfBirth': '1945-08-26T00:33:32.936Z', 'phone': '(931)-868-5781', 'location': {'street': '7459, New North Road', 'city': 'Napier', 'state': 'Otago', 'country': 'New Zealand', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:22.669Z', 'updatedDate': '2021-06-21T21:02:22.669Z'}
{'id': '60d0fe4f5311236168a10a25', 'title': 'ms', 'firstName': 'Kitty', 'lastName': 'Steward', 'picture': 'https://randomuser.me/api/portraits/med/women/78.jpg', 'gender': 'female', 'email': 'kitty.steward@example.com', 'dateOfBirth': '1958-11-13T19:10:09.483Z', 'phone': '05-2107-8126', 'location': {'street': '6876, Lovers Ln', 'city': 'Sunshine Coast', 'state': 'Victoria', 'country': 'Australia', 'timezone': '+5:00'}, 'registerDate': '2021-06-21T21:02:22.862Z', 'updatedDate': '2021-06-21T21:02:22.862Z'}
{'id': '60d0fe4f5311236168a10a26', 'title': 'mr', 'firstName': 'Elliot', 'lastName': 'Walker', 'picture': 'https://randomuser.me/api/portraits/med/men/53.jpg', 'gender': 'male', 'email': 'elliot.walker@example.com', 'dateOfBirth': '1988-02-28T11:14:35.714Z', 'phone': '007-645-9036', 'location': {'street': '1185, Richmond Ave', 'city': 'Sandy Lake', 'state': 'New Brunswick', 'country': 'Canada', 'timezone': '-9:00'}, 'registerDate': '2021-06-21T21:02:23.072Z', 'updatedDate': '2021-06-21T21:02:23.072Z'}
{'id': '60d0fe4f5311236168a10a27', 'title': 'mr', 'firstName': 'Tomothy', 'lastName': 'Hawkins', 'picture': 'https://randomuser.me/api/portraits/med/men/48.jpg', 'gender': 'male', 'email': 'tomothy.hawkins@example.com', 'dateOfBirth': '1976-11-19T00:31:34.945Z', 'phone': '015395 58087', 'location': {'street': '5508, New Street', 'city': 'Plymouth', 'state': 'Berkshire', 'country': 'United Kingdom', 'timezone': '-10:00'}, 'registerDate': '2021-06-21T21:02:23.222Z', 'updatedDate': '2021-06-21T21:02:23.222Z'}
{'id': '60d0fe4f5311236168a10a28', 'title': 'miss', 'firstName': 'OcÃ©ane', 'lastName': 'Denis', 'picture': 'https://randomuser.me/api/portraits/med/women/51.jpg', 'gender': 'female', 'email': 'oceane.denis@example.com', 'dateOfBirth': '1965-11-23T14:30:05.299Z', 'phone': '05-84-01-51-94', 'location': {'street': '5150, Rue de Cuire', 'city': 'BesanÃ§on', 'state': 'Jura', 'country': 'France', 'timezone': '-8:00'}, 'registerDate': '2021-06-21T21:02:23.375Z', 'updatedDate': '2021-06-21T21:02:23.375Z'}
{'id': '60d0fe4f5311236168a10a29', 'title': 'ms', 'firstName': 'Vanessa', 'lastName': 'Ramos', 'picture': 'https://randomuser.me/api/portraits/med/women/33.jpg', 'gender': 'female', 'email': 'vanessa.ramos@example.com', 'dateOfBirth': '1970-01-25T14:05:31.304Z', 'phone': '013873 65148', 'location': {'street': '139, Broadway', 'city': 'Plymouth', 'state': 'Hampshire', 'country': 'United Kingdom', 'timezone': '+1:00'}, 'registerDate': '2021-06-21T21:02:23.528Z', 'updatedDate': '2021-06-21T21:02:23.528Z'}
{'id': '60d0fe4f5311236168a10a2a', 'title': 'mrs', 'firstName': 'Susie', 'lastName': 'Harrison', 'picture': 'https://randomuser.me/api/portraits/med/women/20.jpg', 'gender': 'female', 'email': 'susie.harrison@example.com', 'dateOfBirth': '1958-03-05T12:19:33.078Z', 'phone': '051-650-7578', 'location': {'street': '9854, North Street', 'city': 'Ballina', 'state': 'Kildare', 'country': 'Ireland', 'timezone': '-12:00'}, 'registerDate': '2021-06-21T21:02:23.681Z', 'updatedDate': '2021-06-21T21:02:23.681Z'}
{'id': '60d0fe4f5311236168a10a2b', 'title': 'mrs', 'firstName': 'Angelica', 'lastName': 'Roussel', 'picture': 'https://randomuser.me/api/portraits/med/women/53.jpg', 'gender': 'female', 'email': 'angelica.roussel@example.com', 'dateOfBirth': '1987-05-06T12:17:51.633Z', 'phone': '078 394 72 28', 'location': {'street': '9730, Rue BarrÃ¨me', 'city': 'Porza', 'state': 'Ticino', 'country': 'Switzerland', 'timezone': '-7:00'}, 'registerDate': '2021-06-21T21:02:23.834Z', 'updatedDate': '2021-06-21T21:02:23.834Z'}
{'id': '60d0fe4f5311236168a10a2c', 'title': 'mr', 'firstName': 'Toralf', 'lastName': 'Streicher', 'picture': 'https://randomuser.me/api/portraits/med/men/80.jpg', 'gender': 'male', 'email': 'toralf.streicher@example.com', 'dateOfBirth': '1980-05-06T22:28:48.345Z', 'phone': '0713-4971119', 'location': {'street': '7022, Buchenweg', 'city': 'Lichtenfels', 'state': 'Bremen', 'country': 'Germany', 'timezone': '-3:30'}, 'registerDate': '2021-06-21T21:02:23.992Z', 'updatedDate': '2021-06-21T21:02:23.992Z'}
{'id': '60d0fe4f5311236168a10a2d', 'title': 'mrs', 'firstName': 'Emilie', 'lastName': 'Lambert', 'picture': 'https://randomuser.me/api/portraits/med/women/93.jpg', 'gender': 'female', 'email': 'emilie.lambert@example.com', 'dateOfBirth': '1948-02-08T15:57:07.531Z', 'phone': '05-65-32-93-41', 'location': {'street': "9594, Place des 44 Enfants D'Izieu", 'city': 'Reims', 'state': 'Loire', 'country': 'France', 'timezone': '-3:30'}, 'registerDate': '2021-06-21T21:02:24.203Z', 'updatedDate': '2021-06-21T21:02:24.203Z'}
Page number  2
{'data': [], 'total': 99, 'page': 2, 'limit': 50}
Page number  3
{'data': [], 'total': 99, 'page': 3, 'limit': 50}
Page number  4
{'data': [], 'total': 99, 'page': 4, 'limit': 50}
Page number  5
{'data': [], 'total': 99, 'page': 5, 'limit': 50}
Page number  6
{'data': [], 'total': 99, 'page': 6, 'limit': 50}
Page number  7
{'data': [], 'total': 99, 'page': 7, 'limit': 50}
Page number  8
{'data': [], 'total': 99, 'page': 8, 'limit': 50}
Page number  9
{'data': [], 'total': 99, 'page': 9, 'limit': 50}
Page number  10
{'data': [], 'total': 99, 'page': 10, 'limit': 50}
Page number  11
{'data': [], 'total': 99, 'page': 11, 'limit': 50}
Page number  12
{'data': [], 'total': 99, 'page': 12, 'limit': 50}
Page number  13
{'data': [], 'total': 99, 'page': 13, 'limit': 50}
Page number  14
{'data': [], 'total': 99, 'page': 14, 'limit': 50}
Page number  15
{'data': [], 'total': 99, 'page': 15, 'limit': 50}
Page number  16
{'data': [], 'total': 99, 'page': 16, 'limit': 50}
Page number  17
{'data': [], 'total': 99, 'page': 17, 'limit': 50}
Page number  18
{'data': [], 'total': 99, 'page': 18, 'limit': 50}

Page number  19
{'data': [], 'total': 99, 'page': 19, 'limit': 50}
Page number  20
{'data': [], 'total': 99, 'page': 20, 'limit': 50}
Page number  18
{'data': [], 'total': 873, 'page': 18, 'limit': 50}
Page number  19
{'data': [], 'total': 873, 'page': 19, 'limit': 50}
Page number  20
{'data': [], 'total': 873, 'page': 20, 'limit': 50}
Page number  20
{'data': [], 'total': 990, 'page': 20, 'limit': 50}

In [7]:
print("Data Review")
display(user)

Data Review

,id,title,firstName,lastName,picture,gender,email,dateOfBirth,phone,location,registerDate,updatedDate
0,60d0fe4f5311236168a109ca,ms,Sara,Andersen,https://randomuser.me/api/portraits/women/58.jpg,female,sara.andersen@example.com,1996-04-30T19:26:49.610Z,92694011,1,2021-06-21T21:02:07.374Z,2021-06-21T21:02:07.374Z
1,60d0fe4f5311236168a109cb,miss,Edita,Vestering,https://randomuser.me/api/portraits/med/women/...,female,edita.vestering@example.com,1956-04-15T00:10:35.555Z,(019)-646-0430,2,2021-06-21T21:02:07.533Z,2021-06-21T21:02:07.533Z
2,60d0fe4f5311236168a109cc,ms,Adina,Barbosa,https://randomuser.me/api/portraits/med/women/...,female,edina.barbosa@example.com,1952-09-03T13:27:29.424Z,(64) 5796-9260,3,2021-06-21T21:02:07.719Z,2021-06-21T21:02:07.719Z
3,60d0fe4f5311236168a109cd,mr,Roberto,Vega,https://randomuser.me/api/portraits/med/men/25...,male,roberto.vega@example.com,1945-11-17T06:31:57.367Z,949-368-211,4,2021-06-21T21:02:07.872Z,2021-06-21T21:02:07.872Z
4,60d0fe4f5311236168a109ce,mr,Rudi,Droste,https://randomuser.me/api/portraits/med/men/83...,male,rudi.droste@example.com,1972-08-07T22:16:47.420Z,0421-7342787,5,2021-06-21T21:02:08.029Z,2021-06-21T21:02:08.029Z
...,...,...,...,...,...,...,...,...,...,...,...,...
94,60d0fe4f5311236168a10a29,ms,Vanessa,Ramos,https://randomuser.me/api/portraits/med/women/...,female,vanessa.ramos@example.com,1970-01-25T14:05:31.304Z,013873 65148,95,2021-06-21T21:02:23.528Z,2021-06-21T21:02:23.528Z
95,60d0fe4f5311236168a10a2a,mrs,Susie,Harrison,https://randomuser.me/api/portraits/med/women/...,female,susie.harrison@example.com,1958-03-05T12:19:33.078Z,051-650-7578,96,2021-06-21T21:02:23.681Z,2021-06-21T21:02:23.681Z
96,60d0fe4f5311236168a10a2b,mrs,Angelica,Roussel,https://randomuser.me/api/portraits/med/women/...,female,angelica.roussel@example.com,1987-05-06T12:17:51.633Z,078 394 72 28,97,2021-06-21T21:02:23.834Z,2021-06-21T21:02:23.834Z
97,60d0fe4f5311236168a10a2c,mr,Toralf,Streicher,https://randomuser.me/api/portraits/med/men/80...,male,toralf.streicher@example.com,1980-05-06T22:28:48.345Z,0713-4971119,98,2021-06-21T21:02:23.992Z,2021-06-21T21:02:23.992Z
98,60d0fe4f5311236168a10a2d,mrs,Emilie,Lambert,https://randomuser.me/api/portraits/med/women/...,female,emilie.lambert@example.com,1948-02-08T15:57:07.531Z,05-65-32-93-41,99,2021-06-21T21:02:24.203Z,2021-06-21T21:02:24.203Z

In [8]:
print("Locations Frame")
display(locations)

Locations Frame

,street,city,state,country,timezone,id
0,"9614, SÃ¸ndermarksvej",Kongsvinger,Nordjylland,Denmark,-9:00,1
1,"1371, Dilledonk-Zuid",Den Bommel,Gelderland,Netherlands,-5:00,2
2,"8750, Rua Carlos Gomes",Recife,CearÃ¡,Brazil,+1:00,3
3,"7675, Calle Mota",LogroÃ±o,Islas Baleares,Spain,+6:00,4
4,"1196, MÃ¼hlenweg",GrÃ¼nhain-Beierfeld,Sachsen-Anhalt,Germany,+3:30,5
...,...,...,...,...,...,...
94,"139, Broadway",Plymouth,Hampshire,United Kingdom,+1:00,95
95,"9854, North Street",Ballina,Kildare,Ireland,-12:00,96
96,"9730, Rue BarrÃ¨me",Porza,Ticino,Switzerland,-7:00,97
97,"7022, Buchenweg",Lichtenfels,Bremen,Germany,-3:30,98
98,"9594, Place des 44 Enfants D'Izieu",Reims,Loire,France,-3:30,99

In [9]:
print("Posts Frame ....")
display(posts)

Posts Frame ....

,id,image,likes,tags,text,publishDate,owner,page
0,60d21b4667d0d8992e610c85,https://img.dummyapi.io/photo-1564694202779-bc...,43,"[animal, dog, golden retriever]",adult Labrador retriever,2020-05-24T14:53:17.598Z,60d0fe4f5311236168a109ca,0
1,60d21b4967d0d8992e610c90,https://img.dummyapi.io/photo-1510414696678-24...,31,"[snow, ice, mountain]",ice caves in the wild landscape photo of ice n...,2020-05-24T07:44:17.738Z,60d0fe4f5311236168a10a0b,0
2,60d21b8667d0d8992e610d3f,https://img.dummyapi.io/photo-1515376721779-7d...,16,"[dog, pet, canine]",@adventure.yuki frozen grass short-coated blac...,2020-05-24T05:44:55.297Z,60d0fe4f5311236168a109ed,0
3,60d21b3a67d0d8992e610c60,https://img.dummyapi.io/photo-1581804928342-4e...,7,"[canine, pet, mammal]",Hiking with my dog in the woods. black labrado...,2020-05-23T22:56:11.424Z,60d0fe4f5311236168a109d5,0
4,60d21bf967d0d8992e610e9b,https://img.dummyapi.io/photo-1574457547512-5b...,28,"[dog, human, animal]",Two boys hug their dogs in a leaf pile in the ...,2020-05-23T18:52:32.613Z,60d0fe4f5311236168a109f7,0
...,...,...,...,...,...,...,...,...
868,60d21afd67d0d8992e610bae,https://img.dummyapi.io/photo-1490828004591-f2...,8,"[dog, animal, canine]",Labs of the UK black dog near trees,2019-11-08T01:35:36.331Z,60d0fe4f5311236168a109e1,17
869,60d21b9667d0d8992e610d6e,https://img.dummyapi.io/photo-1589402730616-93...,4,"[animal, pet, dog]",About colors and Dorris brown chihuahua with b...,2019-11-07T22:47:34.940Z,60d0fe4f5311236168a10a0f,17
870,60d21b4b67d0d8992e610c94,https://img.dummyapi.io/photo-1552915212-139b6...,75,"[dog, animal, pet]",You can follow this cutie at doofus_the_golden...,2019-11-07T18:05:00.318Z,60d0fe4f5311236168a10a1c,17
871,60d21aed67d0d8992e610b7f,https://img.dummyapi.io/photo-1582490738676-9e...,13,"[animal, dog, canine]",Dog giving a high five white and black long co...,2019-11-07T16:42:30.296Z,60d0fe4f5311236168a109ff,17
872,60d21b5e67d0d8992e610cce,https://img.dummyapi.io/photo-1546081090-94062...,8,"[black-and-white, dog, new york city]",Pug grayscale photo of pug sits beside wall,2019-11-07T05:43:56.795Z,60d0fe4f5311236168a10a27,17

In [10]:
print("Comments Frame ....")
display(comments)

Comments Frame ....

,id,message,owner,post,publishDate,page
0,60d2235267d0d8992e61187c,Breathtaking shot,60d0fe4f5311236168a109d0,60d21b7967d0d8992e610d1b,2020-05-24T18:55:34.984Z,0
1,60d223c567d0d8992e6119d1,😄😄😄 Excellent shot!!!,60d0fe4f5311236168a109ce,60d21b5467d0d8992e610caf,2020-05-24T12:40:02.693Z,0
2,60d2234f67d0d8992e611875,🤔🤔🤔🤔🤔 Impressive pic,60d0fe4f5311236168a10a22,60d21b2c67d0d8992e610c37,2020-05-24T08:07:42.506Z,0
3,60d2239b67d0d8992e61194f,😊😊 Excellent post,60d0fe4f5311236168a109f2,60d21bb667d0d8992e610dcc,2020-05-24T02:08:38.321Z,0
4,60d2233267d0d8992e611823,Wonderful pic!,60d0fe4f5311236168a109eb,60d21af967d0d8992e610ba3,2020-05-23T17:17:53.854Z,0
...,...,...,...,...,...,...
985,60d222d767d0d8992e611713,🤣😸 Excellent shot,60d0fe4f5311236168a109cc,60d21ae367d0d8992e610b62,2019-11-07T06:57:51.000Z,19
986,60d2237367d0d8992e6118dc,Perfect image,60d0fe4f5311236168a10a16,60d21b1567d0d8992e610bf5,2019-11-07T00:22:35.231Z,19
987,60d223af67d0d8992e611987,🤩 Handsome image,60d0fe4f5311236168a10a0c,60d21b5267d0d8992e610cab,2019-11-06T21:08:51.878Z,19
988,60d222e867d0d8992e611746,Pretty image!!!,60d0fe4f5311236168a109cd,60d21ae567d0d8992e610b68,2019-11-06T20:29:46.424Z,19
989,60d2231967d0d8992e6117d9,🤗🤗🤗 Perfect pic,60d0fe4f5311236168a109d8,60d21b0b67d0d8992e610bd8,2019-11-06T19:39:54.097Z,19

In [11]:
import sys

### Connect to the database

In [12]:
print("DataBase (Postgres) Connection ..")

DataBase (Postgres) Connection ..

In [13]:
ssh_tunnel= SSHTunnelForwarder(
         ('SET-HOST-IP-ADDRESS', 22),
        #  ('localhost', 22),
         ssh_password="SET-PASSWORD",
         ssh_username="SET-USERNAME",
         remote_bind_address=('SET-POSTGRES-IP-ADDRESS', 5432))
ssh_tunnel.start()

ssh_tunnel.local_bind_port

connection = psycopg2.connect(dbname='dummyapidb'
                              , user="postgres"
                              , password="postgres"
                              , host='127.0.0.1'
                              , port=ssh_tunnel.local_bind_port)#127.0.0.1

#connection = psycopg2.connect(dbname='dummyapidb',
#                              user = "postgres",
#                              password = "postgres",
#                              host = "localhost",
#                              port = "5432")

cursor = connection.cursor()

### Tables Initialization

In [14]:
print("Staging Tables Initialization ..")

Staging Tables Initialization ..

In [15]:
create_users_tabel = ("""
DROP TABLE IF EXISTS UsersStage cascade;
CREATE TABLE IF NOT EXISTS UsersStage (
  id varchar(255) PRIMARY KEY,
  title varchar(255),
  firstName varchar(255),
  lastName varchar(255),
  picture varchar(255),
  gender varchar(255),
  email varchar(255),
  dateOfBirth date DEFAULT NULL,
  phone varchar(255),
  location_id int,
  registerDate date DEFAULT NULL,
  updatedDate date DEFAULT NULL
);
""")

create_locations_tabel = ("""
DROP TABLE IF EXISTS LocationsStage cascade;
CREATE TABLE IF NOT EXISTS LocationsStage (
  id INT PRIMARY KEY,
  street varchar(255),
  city varchar(255),
  state varchar(255),
  country varchar(255),
  timezone varchar(255)
);
""")

create_posts_tabel = ("""
DROP TABLE IF EXISTS Posts cascade;
CREATE TABLE IF NOT EXISTS Posts (
  id varchar(255),
  image varchar(255),
  likes int,
  tags varchar(255) ARRAY,
  text varchar(255),
  publishDate date DEFAULT NULL,
  user_id varchar(255),
  page_id INT
);
""")

create_comments_tabel = ("""
DROP TABLE IF EXISTS Comments cascade;
CREATE TABLE IF NOT EXISTS Comments (
  id varchar(255),
  message varchar(255),
  user_id varchar(255),
  post_id varchar(255),
  publishDate date DEFAULT NULL,
  page_id INT
);
""")

# """
# Fact Table : pages related to posts
# """
# create_pages_tabel = ("""
# DROP TABLE IF EXISTS Pages cascade;
# CREATE TABLE IF NOT EXISTS Pages (
#   id INT PRIMARY KEY,
#   post_id varchar(255)
# );
# """)

set_data_null_raw_data = (
    """
    UPDATE RawData rd
    SET PublishDate = CASE WHEN rd.PublishDate =  '-INFINITY' THEN NULL ELSE rd.PublishDate END;
    """
    )

### Create the Staging Dimension Data Tables (Users, Locations) & Fact tables (Posts, Comments, Pages)
cursor.execute(create_users_tabel)
cursor.execute(create_locations_tabel)
cursor.execute(create_comments_tabel)
cursor.execute(create_posts_tabel)
# cursor.execute(create_pages_tabel)
#connection.commit()

In [16]:
# cursor.close()
# connection.close()
# posts
# connection.commit()

### Insert the Data Records (Staging Phase)

In [17]:
print("Data ingestion (staging) phase")

Data ingestion (staging) phase

In [18]:
def ingest_raw_user_data (raw_data, cursor, connection):
    insert_row_RawData = (
    """
    INSERT INTO UsersStage (    
    id,
    title,
    firstName,
    lastName,
    picture,
    gender,
    email,
    dateOfBirth,
    phone,
    location_id,
    registerDate,
    updatedDate
    ) VALUES (%s, %s, %s, %s, %s,%s,%s, %s, %s, %s, %s,%s)
    ON CONFLICT ON CONSTRAINT usersstage_pkey DO NOTHING;
    """)
    for index, row in raw_data.iterrows():                
        row_ = tuple(row.to_list())
        cursor.execute(insert_row_RawData, row_)
        
        
def ingest_raw_location_data (raw_data, cursor, connection):
    insert_row_RawData = (
    """
    INSERT INTO LocationsStage (    
    street,
    city ,
    state,
    country,
    timezone,
    id
    ) VALUES (%s, %s, %s, %s, %s,%s)
    ON CONFLICT ON CONSTRAINT locationsstage_pkey DO NOTHING;
    """)
    for index, row in raw_data.iterrows():                
        row_ = tuple(row.to_list())        
        cursor.execute(insert_row_RawData, row_)
        
def ingest_raw_posts_data (raw_data, cursor, connection):
    insert_row_RawData = (
    """
    ALTER TABLE Posts
    DROP CONSTRAINT IF EXISTS UniqSignPosts;
    ALTER TABLE Posts
    ADD CONSTRAINT UniqSignPosts UNIQUE (id );
    INSERT INTO Posts (    
    id ,
    image,
    likes,
    tags ,
    text ,
    publishDate ,
    user_id,
    page_id
    ) VALUES (%s, %s, %s, %s, %s,%s,%s,%s)
    ON CONFLICT ON CONSTRAINT UniqSignPosts DO NOTHING;
    """)
    for index, row in raw_data.iterrows():                
        row_ = tuple(row.to_list())
        cursor.execute(insert_row_RawData, row_)
        
def ingest_raw_comments_data (raw_data, cursor, connection):
    insert_row_RawData = (
    """
    ALTER TABLE Comments
    DROP CONSTRAINT IF EXISTS UniqSignComments;
    ALTER TABLE Comments
    ADD CONSTRAINT UniqSignComments UNIQUE (id );
    INSERT INTO Comments (    
    id,
    message,
    user_id,
    post_id,
    publishDate,
    page_id
    ) VALUES (%s, %s, %s, %s, %s,%s)
    ON CONFLICT ON CONSTRAINT UniqSignComments DO NOTHING;
    """)
    for index, row in raw_data.iterrows():                
        row_ = tuple(row.to_list())
        cursor.execute(insert_row_RawData, row_)
        
def ingest_raw_pages_data (raw_data, cursor, connection):
    insert_row_RawData = (
    """
    INSERT INTO Pages (    
    id,
    post_id
    ) VALUES (%s, %s)
    """)
    for index, row in raw_data.iterrows():                
        row_ = tuple(row.to_list())
        cursor.execute(insert_row_RawData, row_)
        
ingest_raw_user_data (user, cursor, connection)    
ingest_raw_posts_data (posts, cursor, connection)
ingest_raw_location_data (locations, cursor, connection)
ingest_raw_comments_data (comments, cursor, connection)
# ingest_raw_pages_data (pages, cursor, connection)
connection.commit()

### Define the DW Dimensional Tables (Eliminate Duplication)

In [19]:
print("DW Dimensional Tables Definition ..")

DW Dimensional Tables Definition ..

In [20]:
create_users_tabel = ("""
DROP TABLE IF EXISTS Users cascade;
CREATE TABLE IF NOT EXISTS Users (
  id bigint GENERATED BY DEFAULT AS IDENTITY NOT NULL primary key, 
  old_id varchar(255),
  title varchar(255),
  firstName varchar(255),
  lastName varchar(255),
  picture varchar(255),
  gender varchar(255),
  email varchar(255),
  dateOfBirth date DEFAULT NULL,
  phone varchar(255),
  location_id int,
  registerDate date DEFAULT NULL,
  updatedDate date DEFAULT NULL
);
""")

create_locations_tabel = ("""
DROP TABLE IF EXISTS Locations cascade;
CREATE TABLE IF NOT EXISTS Locations (
  id bigint GENERATED BY DEFAULT AS IDENTITY NOT NULL primary key,
  old_id INT,
  street varchar(255),
  city varchar(255),
  state varchar(255),
  country varchar(255),
  timezone varchar(255)
);
""")

cursor.execute(create_users_tabel)
cursor.execute(create_locations_tabel)

### Populate DW Data Tables
**Further sanity check for duplication by adding the respective constraints**

In [21]:
print("Populate DW Data Tables..")

Populate DW Data Tables..

In [22]:
config_user =("""

ALTER TABLE Users
    ADD CONSTRAINT UniqSignUsers UNIQUE (title, firstName, lastName, gender, email,dateOfBirth );

INSERT INTO Users(
      old_id,
      title ,
      firstName ,
      lastName,
      picture ,
      gender ,
      email,
      dateOfBirth,
      phone ,
      location_id,
      registerDate ,
      updatedDate
    ) 
SELECT   
  id ,
  title ,
  firstName ,
  lastName ,
  picture ,
  gender ,
  email ,
  dateOfBirth ,
  phone ,
  location_id ,
  registerDate ,
  updatedDate 
FROM UsersStage
ON CONFLICT ON CONSTRAINT UniqSignUsers DO NOTHING;
""")
    
config_location = ("""

ALTER TABLE Locations
    ADD CONSTRAINT UniqSignLocation UNIQUE (street,city, state,country);

INSERT INTO Locations(
    old_id ,
    street,
    city,
    state,
    country,
    timezone
    ) 
SELECT id, 
       street
       ,city
       ,state
       ,country
       ,timezone
FROM LocationsStage
ON CONFLICT ON CONSTRAINT UniqSignLocation DO NOTHING;

""")

cursor.execute(config_user)
cursor.execute(config_location)
connection.commit()

### Update new Dimensional FK Ids on Fact Tables

In [23]:
print("Update Dimensional FK ids on Fact Tables")

Update Dimensional FK ids on Fact Tables

In [24]:
update_posts_user_id_FK = ("""
        UPDATE posts
        SET user_id = users.id
        FROM users
        WHERE users.old_id = posts.user_id;
        ALTER TABLE posts
        ALTER COLUMN user_id TYPE bigint USING user_id::bigint;
        """)

update_comments_user_id_FK = ("""
        UPDATE comments
        SET user_id = users.id
        FROM users
        WHERE users.old_id = comments.user_id;
        ALTER TABLE comments
        ALTER COLUMN user_id TYPE bigint USING user_id::bigint;
        """)
 
cursor.execute(update_posts_user_id_FK)
cursor.execute(update_comments_user_id_FK)
connection.commit()

### Set PK on Posts & Comments

In [25]:
print("Set PK on Facts Tables")

Set PK on Facts Tables

In [26]:
set_PK_posts = ("""
        ALTER TABLE posts
        ADD CONSTRAINT posts_pk PRIMARY KEY (id);
        """)
set_PK_comments = ("""
        ALTER TABLE comments
        ADD CONSTRAINT comments_pk PRIMARY KEY (id);
        """)

cursor.execute(set_PK_posts)
cursor.execute(set_PK_comments)
connection.commit()

### Table Intercorrelation Definitions

In [27]:
print("Define correlations amognst tables")

Define correlations amognst tables

In [28]:
users_locations_many_to_one = ("""
ALTER TABLE Users ADD FOREIGN KEY (location_id) REFERENCES  Locations(id);
""")

posts_users_many_to_one = ("""
ALTER TABLE Posts ADD FOREIGN KEY (user_id) REFERENCES  Users(id);
""")

pages_posts_one_to_many = ("""
ALTER TABLE Pages ADD FOREIGN KEY (post_id) REFERENCES  Posts(id);
""")

# comments_pages_many_to_one = ("""
# ALTER TABLE Comments ADD FOREIGN KEY (page_id) REFERENCES  Pages(id);
# """)

comments_owner_many_to_one = ("""
ALTER TABLE Comments ADD FOREIGN KEY (user_id) REFERENCES  Users(id);
""")

cursor.execute(users_locations_many_to_one)
cursor.execute(posts_users_many_to_one)
# cursor.execute(pages_posts_one_to_many)
# cursor.execute(comments_pages_many_to_one)
cursor.execute(comments_owner_many_to_one)
connection.commit()

### Data Modeling Finished : Perform the Queries

#### The final data model looks like the above :

<img src="DummyAPIDBSchema.png" width=1600 height=1600 />

In [29]:
print("Perfoming Respective Queries")

Perfoming Respective Queries

In [30]:
# --  How many new users are added daily?

cursor.execute("""
select round(avg(new_users_added_daily),2) as avg_user_added from (
select count(distinct(id)) as new_users_added_daily from users
group by registerdate) as temp;""")
print("How many new users are added daily?")
print(cursor.fetchall())

# -- Which cities have the most activity, in terms of posts per day?

cursor.execute("""with posts_country as(
select posts.id as post_ids, locations.city as city from posts
left join users on users.id = posts.user_id
left join locations on locations.id = users.location_id)
select city, count(post_ids) as post_volumes from posts_country
group by city
order by post_volumes desc limit 10;""")
print("Which cities have the most activity, in terms of posts per day?")
print(cursor.fetchall())

# -- Which tags are most frequently encountered, across user posts?

cursor.execute("""select tags, count(*) as tags_volume_across_posts from posts
group by tags
having count(*) > 1
order by tags_volume_across_posts desc limit 10;""")
print("Which tags are most frequently encountered, across user posts?")
print(cursor.fetchall())

# -- What is the median comment/post ratio amongst the users with the most posts

cursor.execute("""
DROP FUNCTION IF EXISTS _final_median(INT);

CREATE OR REPLACE FUNCTION _final_median(numeric[])
   RETURNS numeric AS
$$
   SELECT AVG(val)
   FROM (
     SELECT val
     FROM unnest($1) val
     ORDER BY 1
     LIMIT  2 - MOD(array_upper($1, 1), 2)
     OFFSET CEIL(array_upper($1, 1) / 2.0) - 1
   ) sub;
$$
LANGUAGE 'sql' IMMUTABLE;

DROP AGGREGATE IF EXISTS median(numeric);

CREATE AGGREGATE median(numeric) (
  SFUNC=array_append,
  STYPE=numeric[],
  FINALFUNC=_final_median,
  INITCOND='{}'
);

with user_comments_post as (
select users.*,posts.id as posts_id,comments.id as comments_id from users
left join comments on comments.user_id = users.id
left join posts on posts.user_id = users.id)
select round(median(comment_post_ratio),2) from (
select id, count(distinct(comments_id))/count(distinct(posts_id)) as comment_post_ratio   from user_comments_post
group by id
order by count(posts_id) desc limit 10) as comment_post_ratio_;""")
print("What is the median comment/post ratio amongst the users with the most posts?")
print(cursor.fetchall())
# -- What is the average time between registration and first comment?

cursor.execute("""with user_comments as (
select users.id as users_id, users.registerdate as users_registerdate, comments.publishdate as comment_publishdate, comments.id as comments_id from users
left join comments on comments.user_id = users.id)
select round(avg(diff_register_first_comment_publish_date),2) from (
select users_id,min(comment_publishdate) -  min(users_registerdate) as diff_register_first_comment_publish_date from user_comments
group by users_id) as user_comments_results""")
print("What is the average time between registration and first comment?")
print(cursor.fetchall())
print("#### the last query result is peculiar due to data source incosystency in defining the users registration dates !")

How many new users are added daily?
[(Decimal('99.00'),)]
Which cities have the most activity, in terms of posts per day?
[('Plymouth', 19), ('Suonenjoki', 17), ('KÃ¼tahya', 17), ('BesanÃ§on', 16), ('Ù¾Ø§Ú©Ø¯Ø´Øª', 15), ('Stadtsteinach', 15), ('Kannonkoski', 15), ('PetÃ¤jÃ¤vesi', 14), ('Ballina', 14), ('Kongsvinger', 14)]
Which tags are most frequently encountered, across user posts?
[(['dog', 'animal', 'canine'], 150), (['dog', 'animal', 'pet'], 75), (['animal', 'canine', 'dog'], 33), (['dog', 'canine', 'animal'], 29), (['dog', 'pet', 'animal'], 28), (['animal', 'dog', 'pet'], 22), (['dog', 'canine', 'pet'], 20), (['animal', 'dog', 'canine'], 19), (['dog', 'human', 'person'], 16), (['dog', 'pet', 'canine'], 13)]
What is the median comment/post ratio amongst the users with the most posts?
[(Decimal('0.50'),)]
What is the average time between registration and first comment?
[(Decimal('-574.31'),)]
#### the last query result is peculiar due to data source incosystency in defining the users registration dates !

In [31]:
cursor.close()
connection.close()

#### the last query result is peculiar due to data source incosystency in defining the users registration dates !

### Apache - Airflow usability
1. Monitoring Cron jobs
2. transferring data from one place to other.
3. Automating your DevOps operations.
4. Periodically fetching data from websites and update the database for your awesome price comparison system.
5. Data processing for recommendation based systems.
6. Machine Learning Pipelines.

**Despite the fact that the current pipeline was performed from the scratch and in manuall manner**

*One of the possible tools that could be leveraged for the unit testing about data validity as well as the data transformation to the final DW modeling could be open source-oriented packages like dbt*

*The capabilities that dbt offers like snashots (roll-back operation to previous stages and monitoring of changes) 
could facilitate the ETL process especially in the production phases*

*On the top of DBT, airflow could be plugeed in for monitoring the DBT unit test and triggered alerts whenever it's neccecary, making a full end-to-end monitorable ETL pipeline*

### Airflow Operators 
* BashOperator - executes a bash command
* PythonOperator - calls an arbitrary Python function
* EmailOperator - sends an email
* SimpleHttpOperator - sends an HTTP request
* MySqlOperator, SqliteOperator, PostgresOperator, MsSqlOperator, OracleOperator, JdbcOperator, etc. - executes a SQL command
* Sensor - waits for a certain time, file, database row, S3 key, etc…